@charset "utf-8";
@import url('//fonts.googleapis.com/css?family=Roboto:400,700');
@import url('../../../nariya/css/g5.css');

/********************************************************
■ Theme Common
********************************************************/
html,
body{
	height: 100%;
}

body { margin:0; padding:0;	background:#fff; color:#000; }
h1, h2, h3, h4, h5, h6, .en { 
	font-family: 'Pretendard', sans-serif !important;
}

/********************************************************
■ Theme Layout : 테마 레이아웃
********************************************************/
.wrapper { background:#f5f5f5; }
@media all and (max-width:991px) {
	.responsive .wrapper { overflow-x:hidden; }
}
.nt-container,
.nt-container-wide { margin:0 auto; }
@media all and (min-width:992px) {
	.responsive .boxed-a.wrapper .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
	.responsive .boxed-b.wrapper { padding-left:1.5rem !important; padding-right:1.5rem !important; }
	.responsive .boxed-b.wrapper #nt_title .nt-container.px-xl-0,
	.responsive .boxed-b.wrapper #nt_wing .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
}

/* 비반응형 */
.no-responsive .boxed-a.wrapper .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
.no-responsive .boxed-b.wrapper { padding-left:1.5rem !important; padding-right:1.5rem !important; }
.no-responsive .boxed-b.wrapper #nt_title .nt-container.px-xl-0,
.no-responsive .boxed-b.wrapper #nt_wing .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
@media all and (max-width:1200px) {
	.no-responsive .wrapper.wided .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
	.no-responsive .wrapper.wided #nt_title .nt-container.px-xl-0,
	.no-responsive .wrapper.wided #nt_wing .nt-container.px-xl-0 { padding-left:1.5rem !important; padding-right:1.5rem !important; }
}

/********************************************************
■ Loader : 페이지 로딩바
********************************************************/
#nt_loader { background: #fff; left: 0; top: 0; width: 100%; height: 100%; display: block; position: fixed; z-index: 100000; }
#nt_loader .loader { margin: -25px 0 0 -25px; left: 50%; top: 50%; width: 50px; height: 50px; line-height:50px; font-size: 45px; position: absolute; z-index: 10001; }

/********************************************************
■ LNB
********************************************************/
#nt_lnb ul { list-style: none; margin: 0; }
#nt_lnb ul > li { float: left; padding: 0 13px; }
#nt_lnb ul > li::after { font-family: dotum; font-weight: normal; float: right; color:#ccc; content: "|"; margin-right:-15px; }
#nt_lnb ul > li:first-child { padding-left:0; }
#nt_lnb ul > li:last-child { padding-right:0; }
#nt_lnb ul > li:last-child::after { content: ""; margin-right:0; }
#nt_lnb ul > li > a { float:left; white-space:nowrap; }
#nt_lnb .dropdown-toggle::after { color:#ccc; }

/********************************************************
■ PC 헤더(Header)
********************************************************/
#header_pc .header-logo img { max-width:100%; }
#header_pc .header-search { width:100%;	max-width:400px; }
#header_pc .header-search form { padding:0; border-width:2px; border-style:solid; }
#header_pc .header-search input { font-size:16px !important; background: #fff; border:0 !important; box-shadow:none !important; -webkit-box-shadow:none !important; }
#header_pc .header-search .form-control:focus { box-shadow:none !important; -webkit-box-shadow: none !important; }
#header_pc .header-search .btn { border:0; background: none !important; outline:none; }

/********************************************************
■ 모바일 헤더(Header)
********************************************************/
#header_mo { box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(50, 60, 70, 0.15); }

/********************************************************
■ PC 주메뉴
********************************************************/
/* 공통 */
#nt_menu { 
	position:relative; 
	z-index:20; 
}
#nt_menu .nt-container,
#nt_menu .me-list .me-li,
#nt_menu .sub-1dul,
#nt_menu .sub-1dli { position:relative; }
#nt_menu .sub-slide { display:none; visibility:visible; }
#nt_menu .sub-icon::after { font-family: "FontAwesome"; float: right; position: relative; content: "\f105"; }

#nt_menu .me-a { 
	font-size: 16px;
	display:block; 
	position:relative; 
	text-align:center; 
	color:#fff; 
	padding: 6px 15px;
}
#nt_menu .me-li.on .me-a,
#nt_menu .me-li:hover .me-a { 
	color:#fff; 
	background:hsla(0,0%,100%,.1) !important; 
}
#nt_menu .sub-2div { left:100%; top:0; position:absolute; z-index:22; background: #fff; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); } 
#nt_menu .sub-2dul { }
#nt_menu .sub-2dli { }
#nt_menu .sub-2da { display:block; color:#000; border-bottom: 1px solid #eee; } 
#nt_menu .sub-2dli.on .sub-2da,
#nt_menu .sub-2dli:hover .sub-2da { color:#000; background: #fafafa; border-color: #eee; font-weight: bold; }
#nt_menu .sub-2line { display:block; color:#000; font-weight:bold; background:#f5f5f5; }
.nt-menu .sub-1div { position:absolute; left:0; z-index:21; width:auto; text-align:left; top:100%; left:0; background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }
.nt-menu .sub-1div::before { left: 50%; margin-left:-8px; }
.nt-menu .sub-1da { display:block; color:#000; border-bottom: 1px solid #eee; }
.nt-menu .sub-1line { position:relative; display:block; }
.nt-menu .sub-1dli.on .sub-1da,
.nt-menu .sub-1dli:hover .sub-1da { 
	color:#000; 
	background: #f5f5f5; 
	border-color: #eee; 
}
.nt-menu .sub-1line { color:#000; font-weight:bold; background:#fafafa; }
.nt-menu .me-sh { padding:0.59rem 1.0rem; } /* 서브메뉴 높이설정 : 페딩값으로 조절 */

/* 메뉴 상단 고정 */
#nt_sticky_wrap.me-sticky { position:fixed; width:100%; z-index:999; left:0; top:0; }
@media all and (min-width:992px) {
	.wrapper.m-lg-auto #nt_sticky_wrap.me-sticky nav { margin:0 auto !important; }
	.wrapper.ml-lg-auto #nt_sticky_wrap.me-sticky nav { margin:0 0 0 auto !important; }
	.wrapper.mr-lg-auto #nt_sticky_wrap.me-sticky nav { margin:0 auto 0 0 !important; }
}

/********************************************************
■ 페이지 타이틀
********************************************************/
#nt_title { position:relative; overflow:hidden; color:#333; background:#fafafa; border-bottom:1px solid #dee2e6; }
#nt_title .nt-container { position:relative; z-index:2; height:70px; }
#nt_title .page-title { font-size:26px; letter-spacing:-1px; line-height:1.4; }
#nt_title .breadcrumb a { color:#333; }
#nt_title .breadcrumb-item + .breadcrumb-item::before {	font-family: dotum;	font-weight: normal; color:#aaa; content:">"; }
@media all and (max-width:991px) {
	.responsive #nt_title .page-title { font-size:24px; letter-spacing:0; }
}
@media all and (max-width:767px) {
	.responsive #nt_title .page-title { font-size:22px; }
	.responsive #nt_title .nt-container { height:60px; }
}
@media all and (max-width:575px) {
	.responsive #nt_title .page-title { font-size:20px; }
	.responsive #nt_title .nt-container { height:50px; }
}

/********************************************************
■ Wing
********************************************************/
#nt_wing .nt-container { position:relative; overflow:visible !important; }
#nt_wing img { max-width:100%; }
#nt_wing .wing-left,
#nt_wing .wing-right { position:absolute; width:160px; }
#nt_wing .wing-left { left:-180px; }
#nt_wing .wing-right { right:-180px; }
.boxed-b #nt_wing .wing-left { left:-200px; }
.boxed-b #nt_wing .wing-right { right:-200px; }

/********************************************************
■ Footer 
********************************************************/
#nt_footer .nt-links ul { list-style: none; margin: 0; padding:0; }
#nt_footer .nt-links ul > li { float: left; padding: 0 13px; }
#nt_footer ul > li:first-child { padding-left:0; }
#nt_footer ul > li:last-child { padding-right:0; }
#nt_footer .nt-links ul > li::after { font-family: dotum; font-weight: normal; float: right; color:#ccc; content: "|"; margin-right:-15px; }
#nt_footer .nt-links ul > li:last-child::after { content: ""; }
#nt_footer .nt-links ul > li > a { color: #333; white-space:nowrap;	}
@media all and (max-width:991px) {
	.responsive #nt_footer .nt-links ul > li { float:none; display:inline-block; }
}

/********************************************************
■ Widget Title 위젯 타이틀
********************************************************/
h3.h3 { padding:0; margin:0; font-weight:bold; }
hr.hr::before { width:100%; height:1px; content: ""; position:absolute; left:0; bottom:1px; line-height:1px; background-color:#ddd; }
hr.hr { display:block; position:relative; height:3px; border: none; line-height:1px; padding:0;	margin:0; }
hr.hr::after { width:4.0rem; height:3px; content: ""; position:absolute; left:0; bottom:0; line-height:1px; }
@media all and (max-width:575px) {
	.responsive h3.h3 {	padding-left:1.0rem; padding-right:1.0rem; }
	.responsive hr.hr::after { left:1.0rem;	}
}

/********************************************************
■ Bootstrap 4 : 부트스트랩 기본 속성
********************************************************/
/* 툴팁 */
.tooltip .tooltip-inner { font-size:1.0rem !important; }

/* 체크박스, 라디오버튼 재지정 */
.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after,
.custom-radio .custom-control-label::before,
.custom-radio .custom-control-label::after { top:0.15rem !important; width:1.4rem !important; height:1.4rem !important; }

/* 체크박스, 라디오버튼과 글자간 간격 */
.custom-checkbox .custom-control-label span,
.custom-radio .custom-control-label span { cursor: pointer; padding-left:0.5rem !important; }

/* 스위치 버튼 재지정 */
.custom-switch .custom-control-label::before,
.custom-switch .custom-control-label::after { margin-top:2px; }

/* Button */
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }

/* Form */
.col-form-label { font-weight:bold; }

/* Pagenation */
.page-link,
.page-link:hover,
.page-link:focus { color: #333; }

/* 라운드 스타일 */
.na-round,
.view_image img,
.pretty-embed img { border-radius: 0.3rem !important; }

/* 사각 스타일 */
.is-square .na-round,
.is-square .view_image img,
.is-square .pretty-embed img,
.is-square .btn,
.is-square .alert,
.is-square .nav-link,
.is-square .form-control,
.is-square .input-group-prepend,
.is-square .input-group-append,
.is-square .input-group-text,
.is-square .custom-file-label,
.is-square .custom-file-label:after,
.is-square .custom-select,
.is-square .label,
.is-square .progress,
.is-square .pagination li a,
.is-square .list-group-item { border-radius:0 !important; }






/* ----설정---- */
.disnone{
	display: none !important;
}


.seperate{
	width: 100%;
	height: 1px;
	background-color: #DADADA;
	margin: 20px 0;
}



/* 헤더 */
#nt_menu{
	height: 56px;
}

.nt_menu-ul{
	padding-top: 2px;
}


#nt_header{
	background: linear-gradient(90deg, #00A69C 57.55%, #27B373 127.89%);
}

.newheader{
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.header-logo{
	margin-right: 10px;
}

#logo_img{
	height: 21px;
}

.header_left,
.header_right{
	display: flex;
	align-items: center;
}

.ham-a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 3px;
	margin-right: 6px;
}

.header-search{
	height: 40px;
	margin-right: 20px;
}

.newSearch-input{
	width: 272px !important;
	border-radius: 3px !important;
	height: 40px !important;
	border: none !important;
	font-size: 15px !important;
	padding-top: 8px !important;
}

.newSearch-input:focus{
	box-shadow: none !important;
}

.newSearch-input::placeholder{
	font-size: 15px !important;
}

.searchIconbox{
	position: absolute;
	right: 0;
	top: 3px;
	z-index: 3;
}

.mybut{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	border: none;
	background-color: transparent;
}

.mybut:hover{
	background:hsla(0,0%,100%,.1) !important; 
}

#nt_menu .sub-slide{
	width: 110px !important;
}

/* 로그인 */
.responsive{
	background-color: #f5f5f5;
}

.mbskin{
	margin: 0px !important;
}

#login_fs{
	padding: 25px !important;
}

.mb_log_cate h2,
.mb_log_cate .join{
	height: 46px;
	line-height: 46px;
	padding: 0 !important;
}

.mb_log_cate h2{
	font-size: 15px;
}

#mb_login{
	top: 37%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#mb_login .required{
	background-image: none !important;
}

#mb_login #login_fs .btn_submit{
	background-color: #00A495;
}

.mbskin .btn_submit{
	font-weight: 500 !important;
	font-size: 16px !important;
	line-height: 27px !important;
}

#mb_login #login_fs .frm_input{
	padding-left: 10px !important;
	padding-top: 7px !important;
}

.login_if_auto label{
	display: flex;
	align-items: center;
}

.login_if_auto label span{
	margin-right: 4px;
	margin-top: -1px;
}


/* 메인 */
.mainContent{
	background-color: #fff;
	border: 1px solid #CCCCCC;
	padding: 20px;
	border-radius: 6px;
}

.mainTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainTop h2{
	position: relative;
	z-index: 2;
	font-size: 36px;
	letter-spacing: -0.5px;
}

.mainTop h2:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 127px;
	height: 6px;
	background-color: #D4F0E3;
	z-index: -1;
}

.mainTop-right{
	display: flex;
}

.mainCombut{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 3px;
	width: 100px;
	height: 36px;
	margin-right: 6px;
}

.mainCombut span{
	margin-bottom: -3px;
	margin-left: 5px;
}

.mainStarbut{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background-color: #fff;
	border: 1px solid #DADADA;
	border-radius: 3px;
}

.staron {
	display: none;
}
.mainStarbut.active .staroff {
	display: none;
}
.mainStarbut.active .staron {
	display: inline;
}

.resentTime{
	font-size: 15px;
	color: #5F5F5F;
	font-weight: 300;
	margin-top: 15px;
}

.mainBannerBox{
	text-align: center;
	margin: 30px 0;
}

.introBox{
	border-top: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	padding: 15px 0;
	text-align: center;
}

.introBox h3{
	font-size: 1.3888888889em;
	line-height: 29px;
	letter-spacing: -0.5px;
	font-weight: 700;
}

.introBox h3 span{
	color: #00A495;
}

.introBox p{
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}

.introBox p span{
	color: #00A495;
}

.introBox > div:nth-child(2){
	margin-top: 20px;
}

.mainUrlbox{
	border: 2px solid #00A495;
	margin-top: 20px;
}

.mainUrlbox ul li{
	display: flex;
	align-items: center;
}

.mainUrlbox ul li{
	border-bottom: 1px solid #DADADA;
}

.mainUrlbox ul li:last-child{
	border-bottom: none;
}

.mainUrlbox ul li button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98px;
	height: 76px;
	background-color: #00A495;
	border: none;
}


.mainUrlbox-div02 {
	padding-left: 15px;
}

.mainUrlbox-div02 > p:nth-child(1){
	font-size: 1.3888888889em;
	font-weight: 600;
	letter-spacing: -0.5px;
}

.mainUrlbox-div02 > p:nth-child(2){
	letter-spacing: -0.5px;
	margin-top: -5px;
}

.mainUrlbox-div02 > p:nth-child(2) a{
	color: #0275D8;
}

.mainUrlbox-div02 > p:nth-child(2) a:hover{
	text-decoration: underline;
}

.mainUrlbox-abox{
	display: flex;
	align-items: center;
}

.mainUrlbox-a{
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.mainUrlbox-a:hover{
	text-decoration: underline;
}

.mainUrlbox-a:after{
	content: "";
	display: block;
	position: absolute;
	right: -10px;
	top: 11px;
	width: 3px;
	height: 3px;
	background-color: #009900;
	border-radius: 50px;
}

.mainUrlbox-a:last-child{
	margin-right: 0;
}

.mainUrlbox-a:last-child:after{
	display: none;
}

.linkspan{
	color: #009900;
	margin-bottom: -2px;
	margin-left: 3px;
}


.siteBox{
	margin-top: 20px;
	border: 1px solid #666666;
	border-top: 4px solid #00A495;
	padding: 15px;
	padding-top: 8px;
}

.siteBox-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #DADADA;
	padding-bottom: 6px;
}

.siteBox-titleLeft{
	display: flex;
	align-items: center;
}

.siteBox-titleLeft span{
	font-size: 1.3em;
	font-weight: 600;
	color: #00A495;
}

.siteBox-ul{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding-top: 10px;
}

.siteBox-ul li{
	width: calc(100%/5 - 10px);
}

.siteBox-ul li a{
	display: block;
	width: 100%;
	height: 100%;
}

.siteBox-ul li a img{
	width: 100%;
}

/* 게시판 박스 */
.boardBox{
	margin-top: 20px;
	border: 1px solid #666666;
	border-top: 4px solid #00A495;
	padding: 15px;
	padding-top: 8px;
}

/* 전체 게시판 */
.mainTable{
	width: 100%;
}

.mainTable thead tr th,
.mainTable tbody tr td{
	text-align: center;
}

.mainTable thead tr th:nth-child(1),
.mainTable tbody tr td:nth-child(1){
	text-align: left;
}

.mainTable thead tr,
.mainTable tbody tr{
	border-bottom: 1px solid #DADADA;
}

.mainTable tbody tr:last-child{
	border-bottom: none;
}


.mainTable thead tr th,
.mainTable tbody tr td{
	padding-top: 7px;
	padding-bottom: 5px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

.mainTable tbody tr td{
	padding-top: 10px;
	padding-bottom: 10px;
}

.boardBox-flexmore{
	display: flex;
}

.boardTitlecontent{
	display: flex;
	align-items: center;
}

.boardKind{
	display: inline-block;
	width:74px;
	height: 26px;
	line-height: 26px;
	background-color: #F1F1F1;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	color: #808080;
	margin-right: 5px;
}

.boardTitle{
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	max-width: 380px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.boardTitle a,
.mainTable tbody tr td{
	font-weight: 300;
}

.boardCount{
	font-size: 12px;
	color: #00A495;
	margin-left: 8px;
	font-weight: 400;
}

.boardProfile{
	display: flex;
	align-items: center;
	justify-content: center;
}

.boardProfile img{
	width: 19px;
}

.boardProfile span{
	margin-left: 3px;
}

.mainTable tbody tr:last-child td{
	padding-bottom: 0;
}

.mainUrlbox-a-af:after{
	display: none;
}


/* 운영알림 */
.alarmBox{
	margin-top: 20px;
	border: 1px solid #666666;
	border-top: 4px solid #00A495;
	padding: 15px;
	padding-top: 8px;
}

.alarm-ul li{
	padding: 7px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #DADADA;
}

.alarm-ul li:last-child{
	border: none;
	padding-bottom: 0;
}

.alarm-ul li a{
	position: relative;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	max-width: 550px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 9px;
}

.alarm-ul li a:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 11px;
	width: 3px;
	height: 3px;
	background-color: #161616;
	border-radius: 50px;
}


/* 사이드 */
#basic_outlogin{
	display: none;
}

.loginafter{
	background-color: #fff;
	border: 1px solid #CCCCCC;
	padding: 20px;
}

.greengroup{
	margin-bottom: 30px;
}

.greengroup a{
	background-color: #00A495;
}



/* 새글 새댓글 */
.new-tab{
	border: none !important;
	height: 38px;
}
.new-tab .nav-item{
	width: 50%;
	height: 38px;
	border: none !important;
}
.new-tab .nav-item  button{
	width: 100%;
	background-color: #fff;
	height: 38px;
	border: none !important;
	border-top: 1px solid #CCCCCC !important;
	line-height: 24px;
	font-weight: 500;
	color: #a0a0a0;
}
.new-tab .nav-item  button:hover{
	color: #00A495;
}

.new-tab .nav-item:nth-child(1) button{
	border-top-left-radius: 6px;
	border-top-right-radius: 0px;
	border-left: 1px solid #CCCCCC !important;
}
.new-tab .nav-item:nth-child(2) button{
	border-top-left-radius: 0px;
	border-top-right-radius: 6px;
	border-right: 1px solid #CCCCCC !important;
}

.new-tab .nav-item  button.active{
	background-color: #00A495 !important;
	color: #fff !important;
	border: none !important;
}

.new-tab .nav-link:focus, 
.new-tab .nav-link:hover{
	border: none !important;
	border-top: 1px solid #CCCCCC !important;
}

.new-tabContent{
	background-color: #fff;
	border: 1px solid #CCCCCC;
	border-top: none;
	padding: 20px 15px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.new-tabContent ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3px;
}
.new-tabContent ul li:nth-child(1){
	margin-top: 0;
}

.write-over-cate{
	display: inline-block;
	width: 10px;
	height: 10px;

}
.write-over{
	position: relative;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	padding-left: 16px;
}

.write-time{
	font-size: 13px;
	color: #777777;
}

.write-over:after{
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url("/theme/BS4-Basic/img/newicon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/* 랭킹순위 */

.new-rank .nav-item  button.active{
	background-color: #00A495 !important;
	color: #fff !important;
	border: none !important;
}

.rank-infodiv{
	display: flex;
	align-items: center;
}
.rank-id{
	font-weight: 500;
	color: #7D7D7D;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 6px;
}

.rank-top{
	color: #000 !important;
}

.rank-tabContent ul li{
	margin-top: 6px;
}
.rank-tabContent ul li:nth-child(1){
	margin-top: 0;
}

.rank-num{
	display: block;
	width: 19px;
	height: 19px;
	line-height: 19px;
	background-color: #F2F2F2;
	border-radius: 2px;
	font-size: 12px;
	color: #646464;
	text-align: center;
	font-weight: 500;
}

.rank-level{
	font-weight: 600;
	color: #7D7D7D;
	font-size: 14px;
	text-align: left;
}
.level-top{
	color: #00A495 !important;
}

.sidebanner img{
	width: 100%;
}


/* ------------------------------------------------ */


/* 사이드 햄버거메뉴 */
/* 사이드 */
.na-col.mainSide{
	padding-left: 0 !important;
	padding-right: 0 !important;
}



/* pc 사이드 메뉴 */
#nt_sidebar_header{
	height: 55px;
}
#sidebar-menu{
	margin-top: 10px;
}
.sidefour{
	display: none !important;
}

.sidebar-list .me-ul{
	background: transparent !important;
}

.hamevent{
	padding: 0 14px;
}


.littlesidemenu{
	margin: 15px 0;
}
.littlesidemenu-ul{
	display: flex;
	justify-content: center;
	gap: 12px;
}

.littlesidemenu-ul li{
	text-align: center;
}

.littlesidemenu-ul li a{
	width: 76px;
	height: 76px;
	background-color: #fff;
	border: 1px solid #E9E9E9;
	border-radius: 16px;
	padding: 0 !important;
	padding-top: 7px !important;
}

.sideimgbox{
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: end;
}

.littlesidemenu-ul li a p{
	font-weight: 500;
	font-size: 11px;
	margin-top: 3px;
	color: #000 ;
}

.littlesidemenu-ul li a:hover{
	text-decoration: none !important;
}

.littlesidemenu-ul li a p:hover{
	color: #00A495  !important;
}


.sidebar-list li a{
	font-weight: 500;
	color: #000 ;
}

.sidebar-list li a:hover{
	text-decoration: none !important;
	color: #00A495  !important;
}

.sidebar-list .me-li1 .me-a1{
	background-color: #fff !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	
}

.sidelogin{
	padding: 0 14px;
}

.input-group-prepend,
.peopleside {
	display: none !important;
}

.loginform .required{
	background-image: none !important;
}
.loginform input.form-control {
	height: 44px;
	border-radius: 4px !important;
	background-color: #FFFFFF;
	border: 1px solid #DEE2E6;
	color: #27282b;
}

.loginform input.form-control:focus{
	box-shadow: none !important;
}

.loginform .form-group{
	margin-bottom: 8px !important;
}

.loginform input.form-control::placeholder{
	color: #9DA5B6;
}

#basic_outlogin button[type="submit"] {
	background-color: #00A495 ;
	height: 44px !important;
	border: none !important;
	margin-top: 10px !important;
	font-size: 15px;
}

.loginbox .btn-primary{
	border: none !important;
}

/* 사이드바 로그인 */
#sidebar_login{
	margin-top: 25px;
}
#sidebar_login input.form-control {
	height: 36px !important;
	border-radius: 4px !important;
	background-color: #FFFFFF !important;
	border: 1px solid #DEE2E6 !important;
	color: #27282b !important;
}

#sidebar_login .f-sm a{
	color: #000 !important;
}

.mb6{
	margin-bottom: 7px !important;
}

.sidebarlobut{
	width: 100% !important;
	height: 36px !important;
	color: #fff !important;
	border-radius: 4px !important;
	background-color: #00A495  !important;
}

/* 사이드 */
.na-col.mainSide{
	padding-left: 0 !important;
	padding-right: 0 !important;
}



/* pc 사이드 메뉴 */
#nt_sidebar_header{
	height: 55px;
}
#sidebar-menu{
	margin-top: 10px;
}
.sidefour{
	display: none !important;
}

.sidebar-list .me-ul{
	background: transparent !important;
}

.hamevent{
	padding: 0 14px;
}


.littlesidemenu{
	margin: 15px 0;
}
.littlesidemenu-ul{
	display: flex;
	justify-content: center;
	gap: 12px;
}

.littlesidemenu-ul li{
	text-align: center;
}

.littlesidemenu-ul li a{
	width: 76px;
	height: 76px;
	background-color: #fff;
	border: 1px solid #E9E9E9;
	border-radius: 16px;
	padding: 0 !important;
	padding-top: 7px !important;
}

.sideimgbox{
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: end;
}

.littlesidemenu-ul li a p{
	font-weight: 500;
	font-size: 11px;
	margin-top: 3px;
	color: #000 ;
}

.littlesidemenu-ul li a:hover{
	text-decoration: none !important;
}

.littlesidemenu-ul li a p:hover{
	color: #00A495 !important;
}

.sidebar-list h5{
	border-top: none !important;
	margin-top: 22px !important;
	font-weight: 300 !important;
	font-size: 14px !important;
	padding-bottom: 0 !important;
	color: #838383;
}

.sidebar-list li a{
	font-weight: 500;
	color: #000 ;
}

.sidebar-list li a:hover{
	text-decoration: none !important;
	color: #00A495 !important;
}

.sidebar-list .me-li1 .me-a1{
	background-color: #fff !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	
}

.sidelogin{
	padding: 0 14px;
}

.ham-a-but{
	display: block !important;
	width: 100% !important;
	background-color: #00A495 !important;
	color: #fff !important;
	border-radius: 4px !important;
	height: 36px !important;
	line-height: 39px !important;
	padding: 0 !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	font-size: 13px !important;
}

.ham-a-but:nth-child(1){
	margin-right: 5px;
}
.ham-a-but:nth-child(2){
	background-color: #2b2b2b !important;
}

/* 회원가입 */
#fregister h2{
	background-color: #fff;
}

#fregister .btn_confirm{
	text-align: center;
	line-height: 50px;
}

/* 모바일 */
@media (max-width:768px){
	#nt_menu_mobile,
	.wrapper{
		background-color: #fff;
	}
	p,span,h1,h2,h3,h4,h5,a{
		font-family: 'Pretendard', sans-serif !important;
		letter-spacing: -0.5px !important;
	}

	.mo-searchbut{
		background-color: #fff;
	}
	.mo-searchbut-input{
		border-color: #fff;
	}

	.mainTop h2{
		font-size: 30px;
	}
	.mainCombut{
		width: 120px;
	}

	.mainTop{
		display: block;
	}

	.mainTop-right{
		margin-top: 14px;
	}

	.mainBannerBox{
		margin: 20px 0;
		height: 60px;
	} 

	.mainBannerBox img{
		width: 100%;
		height: 100%;
	}

	.mainTop h2:after{
		width: 100px;
	}

	.mainContent{
		padding-left: 15px;
		padding-right: 15px;
		border: none;
		border-radius: 0;
	}

	.introBox h3{
		word-break: auto-phrase;
		margin-bottom: 12px;
	}

	.introBox > div:nth-child(2){
		margin-top: 14px;
	}

	.mainUrlbox ul li{
		height: 100px;
	}

	.mainUrlbox ul li:nth-child(3){
		height: 120px;
	}
	.mainUrlbox ul li:nth-child(4){
		height: 130px;
	}

	.mainUrlbox ul li button{
		width: 75px;
		height: 100%;
	}
	.mainUrlbox-div02{
		width: calc(100% - 75px);
		padding-right: 12px;
		padding-left: 12px;
	}

	.mainUrlbox-div02 > p:nth-child(1){
		font-size: 1.2rem;
	}

	.mainUrlbox-div02 > p:nth-child(2){
		margin-top: 5px;
		font-size: 14px;
		line-height: 18px;
		word-break: auto-phrase;
	}

	.siteBox-ul{
		gap: 10px;
		padding-top: 15px;
	}

	.siteBox-ul li{
		width: calc(100%/2 - 5px);
	}

	.siteBox-titleLeft span{
		font-size: 1.1em;
	}

	.boardBox-flexmore{
		display: block;
	}

	.mo-mr0{
		margin-right: 0 !important;
	}

	.mainTable{
		table-layout: fixed;
	}

	.mainTable colgroup col:nth-child(2){
		width: 20% !important;
	}

	.mainTable colgroup col:nth-child(3),
	.mainTable colgroup col:nth-child(4),
	.mainTable colgroup col:nth-child(5){
		width: 0% !important;
		display: none;
	}

	.mainTable thead tr th:nth-child(3),
	.mainTable thead tr th:nth-child(4),
	.mainTable thead tr th:nth-child(5){
		display: none;
	}

	.mainTable tbody tr td:nth-child(3),
	.mainTable tbody tr td:nth-child(4),
	.mainTable tbody tr td:nth-child(5){
		display: none;
	}

	.boardProfile img,
	.boardKind{
		display: none;
	}

	.mainTable thead tr th,
	.mainTable tbody tr td{
		padding-left: 0;
		padding-right: 0;
	}

	.alarm-ul .boardBox-flexmore{
		display: none;
	}

	.mobile-none{
		display: none;
	}

	.sidebanner{
		display: none;
	}

	.loginnone{
		display: none !important;
	}

	/* 회원가입 */
	#fregister table{
		width: 100%;
	}
	#fregister table tr td,
	#fregister table tr th{
		border: 1px solid #dee2e6;
		padding: 6px;
	}

	#fregister table tr th{
		background-color: #f5f5f5;
	}
}
