/* --------------모달 관련------------ */
@media (max-width: 1023px){
    /* 모달 전체화면으로 */
    .casino-modal,
    .header-modal{
        margin-top: 0 !important;
        margin: 0;
        max-width: 100% !important;
        width: 100%;
        height: 100%;
    }
    .casino-modal .modal-content,
    .header-modal .modal-content{
        min-height: 100%;
    }
    .header-modal-contentbox{
        border: none;
    }

    /* 모달 */
    .pill-honme-account{
        padding: 0;
        margin-top: 20px;
    }
    .pill-honme-account{
        padding: 0;
    }
    .pill-chargebut{
        width: 100%;
        margin: 20px 0;
    }
    .pill-home-ul{
        padding: 10px;
    }
    .header-modal .nav-pills{
        flex-wrap: nowrap;
        gap: 0;
        grid-gap: 0;
    }
    .batlist-tabul li{
        width: calc(100%/3);
    }
    .batlist-tabul li button{
        width: 100%;
    }
    .bat-date{
        width: 100%;
    }
    .pill-chargebut-search{
        margin-left: 0;
        width: 100%;
        justify-content: center;
        padding: 12px 0;
    }
    .header-modal .sign-header{
        justify-content: end !important;
    }
    .modal-loginbox-inputbox{
        padding: 0 15px;
    }
    #signup-modal .header-modal{
        height: auto;
    }
    .message-read{
        color: #f3f3f3;
        border: 1.2px solid #444444;
        font-size: 0.9rem;
        padding: 6px 12px;
        background-color: #131415;
        border-radius: 50px;
    }
    .modal-messagebut{
        position: relative;
    }
    
    .modal-messagebut-alarm{
        position: absolute;
        right: 7%;
        top: 5px;
        width: 4px;
        height: 4px;
        border-radius: 50px;
        background-color: #DA71FF;
    }
    .pill-home-ul li{
        line-height: 1.2rem;
        margin-top: 10px;
    }
    .pill-home-ul li:nth-child(1){
        margin-top: 0;
    }
    .pill-home-ul li::before{
        top: 8px;
    }
    .header-modal-contentbox{
        border: none;
        padding: 20px 10px;
    }
}

@media all and (min-width:1280px) and (max-width:1700px){
     /* 모바일 지우기 */
    .table768{
        display: none;
    }
    .mobile-bottommenu{
        display: none;
    }
    .sidenav{
        display: none;
    }
}


/* ---------------------------------------------------------
 */

@media (min-width: 1280px){
    /* 모바일 지우기 */
    .table768{
        display: none;
    }
    .mobile-bottommenu{
        display: none;
    }
    .sidenav{
        display: none;
    }
}
@media (min-width: 768px){
    .mobilelogo{
        display: none;
    }
}



@media all and (min-width:1588px) and (max-width:1640px){
    .pr200{
        padding-right: 20px !important;
    }
    .w1518{
        max-width: 1480px;
    }
    .contentbox-tabbox{
        width: 100%;
    }
    .moneyflexbox{
        width: 500px;
    }
    .moneybox,
    .moneybox .albox-title{
        width: calc(500px/2);
    }
    .money-a-box-name-user-price,
    .money-a-box-name-user-name{
        font-size: 13px;
    }
    .money-a-box-name-user-name{
        width: 80px;
    }
}
@media all and (min-width:1280px) and (max-width:1588px){
    .w1518{
        max-width: 1100px;
    }
    /* 헤더 */
    .pr200{
        padding-right: 15px !important;
    }
    /* 탭메뉴 */
    .contentbox-tabbox{
        width: 100%;
    }
    /* 게임리스트 */
    .gamebut-a-par{
        width: calc(100%/4 - 20px);
    }
    .content-alin{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #three{
        order: 2;
        margin-left: 20px;
    }
    #second{
        order: 3;
    }
    .moneyflexbox{
        width: 100%;
        margin-top: 30px;
    }
    .moneybox{
        width: 50%;
    }
    .moneybox .albox-title{
        width: 100%;
    }
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px){
    .w1518{
        max-width: 900px;
    }
    /* 모바일 지우기 */
    .table768{
        display: none;
    }
    .mobile-bottommenu{
        display: none;
    }
    .sidenav{
        display: none;
    }
    /* 헤더 */
    .pr200{
        padding-right: 15px !important;
    }
    .scroll_inner-box{
        width: calc(100% - 100px);
    }
    /* 탭메뉴 */
    .contentbox-tabbox{
        width: 100%;
    }
    /* 게임리스트 */
    .gamebut-a-par{
        width: calc(100%/3 - 20px);
    }
    .content-alin{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #three{
        order: 2;
        margin-left: 20px;
    }
    #second{
        order: 3;
    }
    .moneyflexbox{
        width: 100%;
        margin-top: 30px;
    }
    .moneybox{
        width: 50%;
    }
    .moneybox .albox-title{
        width: 100%;
    }
    /* 파워볼 */
    .powerball-max{
        padding: 20px 15px;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .powerballContent{
        display: block;
    }
    .powerballContent-left{
        margin-right: 0;
    }
    .powerballContent-right{
        width: 100%;
        margin-top: 10px;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .mobile-bottommenu{
        display: none;
    }
    .sidenav{
        display: none;
    }
    .w1518{
        max-width: 625px;
    }
    /* 헤더 */
    .pr200{
        padding-right: 15px !important;
    }
    .scroll_inner-box{
        width: calc(100% - 100px);
    }
    /* 탭메뉴 */
    .contentbox-tabbox{
        width: 100%;
    }
    .contentbox-tab-ul li:nth-child(2){
        margin: 0 10px;
    }
    .contentbox-tabbox .icon-img{
        width: 70px;
    }
    .contentbox-tabbox .icon-img03{
        width: 46px;
    }
    /* 게임리스트 */
    .gamebut-a-par{
        width: calc(100%/2 - 20px);
    }
    .content-alin{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #three{
        order: 2;
        margin-top: 15px;
    }
    #second{
        order: 3;
    }
    .moneyflexbox{
        width: 100%;
        margin-top: 30px;
    }
    .moneybox{
        width: 50%;
    }
    .moneybox .albox-title{
        width: 100%;
    }
    /* 하단 박스 */
    .picbox {
        width: 100%;
        height: auto;
        padding: 20px;
        background: rgba(46, 46, 48, 0.7);
        border-radius: 6px;
        border: 2px solid rgba(177, 198, 255, 0.4)
    }
    .alin-table .alin-table-th01 a{
        font-size: 18px;
        height: 25px;
    }
    .alin-table .alin-table-th02,
    .picbox-titleflex a{
        font-size: 16px;
    }
    .footer-img-box{
        padding-left: 40px;
        padding-right: 40px;
    }
    .money-a-box-name-user-price{
        font-size: 14px;
    }
    /*----------------------------- 파워볼 -----*/
    .powerball-max{
        padding: 100px 15px;
    }
    .powerballContent{
        display: block;
    }
    .left-powerballbox-ifbox{
        display: none;
    }
    .powerballContent-left{
        margin-right: 0;
    }
    .powerballContent-right{
        width: 100%;
    }
    .left-powerballbox-ul{
        display: block;
    }
    .powerballbox-ul02top{
        border-top: 2px solid #383C45;
    }
    .left-powerballbox-ul01{
        width: 36% !important;
    }
    .left-powerballbox-ul02{
        width: 64% !important;
    }
    .powerball-butbox-littlebox button{
        font-size: 0.9rem;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 500px ~ 767px)*/ 
@media all and (min-width:500px) and (max-width:767px){
    .w1518{
        max-width: 100%;
    }
    .sidebar-open .topbar{
        padding-left: 0;
    }
    .scroll_inner-box{
        display: none;
    }
    .sidebar{
        display: none;
    }
     /* 헤더 */
    .topbar{
        bottom: unset;
        top: 0;
    }
    .row>*{
        width: auto !important;
        max-width: auto !important;
        padding: 0 !important;
    }
    .pr200{
        padding-right: 0 !important;
    }
    .mobilehead{
        width:100%;
        justify-content: space-between;
        margin: 0 !important;
    }
    .sidebar-open .topbar{
        padding-left: 0 !important;
    }
    .before-login{
        padding-top: 10px;
    }
    .scroll_inner-box{
        width: calc(100% - 100px);
    }
    .mobilelogoimg{
        width: 131px !important;
    }
    .mobilelogo{
        padding-top: 8px !important;
    }
    /* 메인배너 */
    .top-banner{
        position: relative;
        width: 100%;
        height: 397px;
        background-image: url("/front/images/mainbanner.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .pallette-img{
        width: 431px;
    }
    .logocha-img{
        width: 414px;
    }
    /* 탭메뉴 */
    .contentbox-tabbox .icon-img{
        display: none;
    }
    .contentbox-tabbox{
        width: 100%;
    }
    .contentbox-tab-ul li:nth-child(2){
        margin: 0 10px;
    }
    /* 게임 캐릭터 */
    .gamebut-a-par{
        height: 143px;
        padding: 47px 15px 0 15px;
        margin-top: -20px;
    }
    .casino-cha img{
        height: 110px;
    }
    /* 게임리스트 */
    .gamebut-a-par{
        width: calc(100%/2 - 20px);
    }
    .content-alin{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #three{
        order: 2;
        margin-top: 15px;
    }
    #second{
        order: 3;
    }
    .moneyflexbox{
        width: 100%;
        margin-top: 30px;
    }
    .moneybox{
        width: 50%;
    }
    .moneybox .albox-title{
        width: 100%;
    }
    /* 하단 박스 */
    .picbox {
        width: 100%;
        height: auto;
        padding: 20px;
        background: rgba(46, 46, 48, 0.7);
        border-radius: 6px;
        border: 2px solid rgba(177, 198, 255, 0.4)
    }
    .alin-table .alin-table-th01 a{
        font-size: 18px;
        height: 25px;
    }
    .alin-table .alin-table-th02,
    .picbox-titleflex a{
        font-size: 16px;
    }
    .footer-img-box{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    .money-a-box-name-user-price{
        font-size: 14px;
    }
    .moneyflexbox{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px !important;
    }
    .moneybox{
        width: 100%;
    }
    .moneybox .albox-title{
        border-radius: 15px 15px 0px 0px;
    }
    .moneybox-right{
        margin-top: 15px;
    }
    /* 모달 */
    .header-modal .modal-header{
        justify-content: space-between !important;
    }
    .header-modal .sign-header{
        justify-content: end !important;
    }
    .footer-img-box{
        gap: 8px;
    }
    .footer-img-box img{
        height: 20px;
    }
    /* 파워볼 */
    .powerball-max{
        padding: 80px 15px;
        background-size: inherit;
        background-position: inherit;
    }
    .powerballContent{
        display: block;
    }
    .left-powerballbox-ifbox{
        display: none;
    }
    .powerballContent-left{
        margin-right: 0;
    }
    .powerballContent-right{
        width: 100%;
    }
    .left-powerballbox-ul{
        display: block;
    }
    .powerballbox-ul02top{
        border-top: 2px solid #383C45;
    }
    .left-powerballbox-ul01{
        width: 36% !important;
    }
    .left-powerballbox-ul02{
        width: 64% !important;
    }
    .powerball-butbox-littlebox{
        flex-wrap: wrap;
    }
    .powerball-butbox01 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-butbox02 .powerball-butbox-littlebox button{
        width: calc(100%/3 - 5px);
    }
    .powerball-butbox03 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-butbox04 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-moneybutbox{
        flex-wrap: wrap;
    }
    .powerball-moneybutbox button{
        width: calc(100%/3 - 5px);
    }
    .mw100but{
        width: 100% !important;
    }
    .powerball-butinfo{
        flex-wrap: wrap;
    }
    .powerball-butinfo > div{
        width: calc(100%/2 - 4px);
    }
    .powerball-lastbut{
        flex-wrap: wrap;
    }
    .powerball-lastbut button{
        width: calc(100%/1 - 0px);
        height: 50px;
        line-height: 50px;
        border-radius: 6px;
        font-weight: 500;
        color: #fff;
        font-size: 1rem;
    }
    .powerball-right-info01{
        height: 116px;
    }
    .powerball-right-info01{
        padding: 30px 15px;
        text-align: center;
    }
    .powerball-batlist-table thead tr th{
        font-size: 0.8rem;
    }
    .powerball-batlist-table thead tr th,
    .powerball-batlist-table tbody tr td{
        padding: 11px 0;
    }
}

/* 모바일 세로 (해상도 ~ 499px)*/ 
@media (max-width:499px){
    .nonelogin01 p, 
    .nonelogin01 button{
        font-size: 0.625rem;
    }
    .w1518{
        max-width: 100%;
    }
    .sidebar-open .topbar{
        padding-left: 0;
    }
    .scroll_inner-box{
        display: none;
    }
    .sidebar{
        display: none;
    }
     /* 헤더 */
    .topbar{
        bottom: unset;
        top: 0;
    }
    .row>*{
        width: auto !important;
        max-width: auto !important;
        padding: 0 !important;
    }
    .pr200{
        padding-right: 0 !important;
    }
    .mobilehead{
        width:100%;
        justify-content: space-between;
        margin: 0 !important;
    }
    .sidebar-open .topbar{
        padding-left: 0 !important;
    }
    .before-login{
        padding-top: 10px;
    }
    .scroll_inner-box{
        width: calc(100% - 100px);
    }
    .mobilelogoimg{
        width: 103px !important;
    }
    .mobilelogo{
        padding-top: 12px !important;
    }
    /* 메인배너 */
    .top-banner{
        position: relative;
        width: 100%;
        height: 326px;
        background-image: url("/front/images/mainbanner.webp");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .pallette-img{
        width: 330px;
    }
    .logocha-img{
        width: 320px;
    }
    /* 탭메뉴 */
    .contentbox-tabbox .icon-img{
        display: none;
    }
    .contentbox-tabbox{
        width: 100%;
    }
    .contentbox-tab-ul li:nth-child(2){
        margin: 0 23px;
    }
    .tab-gamebut .gamename{
        font-size: 20px;
    }
    .contentbox-tabbox button{
        padding: 0 !important;
    }
    .contentbox-tabbox:after{
        content: "";
        position: absolute;
        background: url("/front/images/tab-bg.webp");
        display: block;
        left: 50%;
        transform: translateX(-50%);
        top: -22px;
        width: 980px;
        height: 162px;
        z-index: 2;
        background-size: contain;
    }
    /* 게임리스트 */
    .gamebut-a-par{
        width: calc(100%/2 - 20px);
    }
    .content-alin{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #three{
        order: 2;
        margin-top: 15px;
    }
    #second{
        order: 3;
    }
    .moneyflexbox{
        width: 100%;
        margin-top: 30px;
    }
    .moneybox{
        width: 50%;
    }
    .moneybox .albox-title{
        width: 100%;
    }
    /* 하단 박스 */
    .picbox {
        width: 100%;
        height: auto;
        padding: 20px;
        background: rgba(46, 46, 48, 0.7);
        border-radius: 6px;
        border: 2px solid rgba(177, 198, 255, 0.4)
    }
    .alin-table .alin-table-th01 a{
        font-size: 18px;
        height: 25px;
    }
    .alin-table .alin-table-th02,
    .picbox-titleflex a{
        font-size: 16px;
    }
    .footer-img-box{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    .money-a-box-name-user-price{
        font-size: 14px;
    }
    .moneyflexbox{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px !important;
    }
    .moneybox{
        width: 100%;
    }
    .moneybox .albox-title{
        border-radius: 15px 15px 0px 0px;
    }
    .moneybox-right{
        margin-top: 15px;
    }
    /* 모달 */
    .header-modal .modal-header{
        justify-content: space-between !important;
    }
    .header-modal .sign-header{
        justify-content: end !important;
    }
    /* ------ */
    .gamecontentbox{
        padding-top: 80px;
    }
    /* 게임 캐릭터 */
    .gamebut-a-par{
        height: 131px;
        padding-top: 56px;
        margin-top: -20px;
    }
    .gamebut-a-par .casino-cha img{
        height: 100px;
    }
    .slot-a-par .casino-cha img{
        height: 96px !important;
    }
    .casino-gamelogo img{
        height: 20px;
    }
    .gametitle{
        max-width: 120px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 2px;
    }
    .casino-gama-a-span{
        display: none !important;
    }
    .footer-img-box{
        gap: 8px;
    }
    .footer-img-box img{
        height: 20px;
    }
    /* 파워볼 */
    .powerball-max{
        padding: 80px 15px;
        background-size: inherit;
        background-position: inherit;
    }
    .powerballContent{
        display: block;
    }
    .left-powerballbox-ifbox{
        display: none;
    }
    .powerballContent-left{
        margin-right: 0;
    }
    .powerballContent-right{
        width: 100%;
    }
    .left-powerballbox-ul{
        display: block;
    }
    .powerballbox-ul02top{
        border-top: 2px solid #383C45;
    }
    .left-powerballbox-ul01{
        width: 36% !important;
    }
    .left-powerballbox-ul02{
        width: 64% !important;
    }
    .powerball-butbox-littlebox{
        flex-wrap: wrap;
    }
    .powerball-butbox01 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-butbox02 .powerball-butbox-littlebox button{
        width: calc(100%/3 - 5px);
    }
    .powerball-butbox03 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-butbox04 .powerball-butbox-littlebox button{
        width: calc(100%/2 - 5px);
    }
    .powerball-moneybutbox{
        flex-wrap: wrap;
    }
    .powerball-moneybutbox button{
        width: calc(100%/3 - 5px);
    }
    .mw100but{
        width: 100% !important;
    }
    .powerball-butinfo{
        flex-wrap: wrap;
    }
    .powerball-butinfo > div{
        width: calc(100%/2 - 4px);
    }
    .powerball-lastbut{
        flex-wrap: wrap;
    }
    .powerball-lastbut button{
        width: calc(100%/1 - 0px);
        height: 50px;
        line-height: 50px;
        border-radius: 6px;
        font-weight: 500;
        color: #fff;
        font-size: 1rem;
    }
    .powerball-right-info01{
        height: 116px;
    }
    .powerball-right-info01{
        padding: 30px 15px;
        text-align: center;
    }
    .powerball-batlist-table thead tr th{
        font-size: 0.8rem;
    }
    .powerball-batlist-table thead tr th,
    .powerball-batlist-table tbody tr td{
        padding: 11px 0;
    }
}