@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
}

@import url('~@noonnu/vitro-core');

* {
    font-family: "Noto Sans KR", sans-serif !important;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}

html,
body {
    height: 100%;
}

main {
    padding-left: 0 !important;
    padding-top: 0px !important;
}

.page-breadcrumb {
    padding: 0 !important;
}

.pr200 {
    padding-right: 200px !important;
}

img {
    max-width: fit-content !important;
}

.w1518 {
    width: 100%;
    max-width: 1518px;
    margin: 0 auto;
}

.w1036 {
    width: 100%;
    max-width: 1036px;
    margin: 0 auto;
}

li.nav-item:hover {
    border-color: #0e0e0e !important;
}
/* 네브 */
.nav-num ul li a{
    display: block;
    width: 35px;
    height: 35px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 1.6rem;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    line-height: 35px;
    color: #fff;
    margin-top: 20px;
  }
  
  
  .nav-num-active{
    background-color: #DA71FF;
    color: #fff;
  }
/* -----------탑헤드------------- */
.hamnenu {
    color: #ffffff;
    transition: 0.2s;
}

.hamnenu:hover {
    color: rgb(223, 130, 247);
}

.topbar .menu-toggle {
    line-height: 72px !important;
}

.topbar .menu-toggle i {
    font-size: 24px !important;
}

.topbar {
    line-height: inherit !important;
    position: fixed !important;
    background-color: transparent !important;
    background: rgb(18, 18, 18) !important;
    background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(19, 19, 19) 100%) !important;
    z-index: 20 !important;
    height: 65px;
}

.sidebar-open .topbar {
    padding-left: 178px !important;
}

.before-login {
    padding-top: 15px;
}

.login-button {
    width: 82px;
    height: 34px;
    line-height: 32px;
    border-radius: 50px;
    background-color: #f4f4f4;
    color: #fff;
    font-size: 15px;
}

.signupbut {
    background: rgb(203, 92, 255);
    background: linear-gradient(180deg, rgba(203, 92, 255, 1) 0%, rgba(95, 26, 183, 1) 100%);
}

.logbut {
    background-color: #171717;
    border: 1px solid #C85AFC;
    margin-right: 6px;
}

/* 로그인후 */
.nonelogin {
    padding-top: 12px;
}

.nonelogin01 {
    display: flex;
    justify-content: end;
}

.nonelogin01 p,
.nonelogin01 button {
    color: #dfdfdf;
    font-size: 0.8rem;
}

.nonelogin01 span {
    color: #c45bee;
}

.nonelogin02 {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    align-items: center;
}

.nonelogin02 p {
    color: #dfdfdf;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 7px;
    margin-top: -1px;
}

.nonelogin02 button {
    font-size: 0.8em;
    padding: 6px 8px;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    background: rgb(126, 140, 169);
    background: linear-gradient(180deg, rgba(126, 140, 169, 1) 0%, rgba(62, 73, 94, 1) 100%);
    height: 25px;
}

.partnerbut{
    background: linear-gradient(180deg, rgb(226, 79, 182) 0%, rgb(255, 3, 142) 100%) !important;
    margin-left: 6px;
}

/* 롤링쪽 */
.roleflexBox {
    display: flex;
}

.scroll_inner-box {
    width: calc(100% - 200px);
    position: relative;
    padding-left: 30px;
    line-height: 65px;
}

.scroll_inner-box:after {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    top: 22px;
    background: url("/front/images/notice-roll.webp");
}

.scroll_inner .scroll_row {
    display: flex;
    align-items: center;
}

.scroll_inner .scroll_row .scrolling_box {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 0 0 0 50px;
    width: 100%;
}

.scroll_inner .scroll_row .scrolling_box .scr_box {
    display: inline-block;
    line-height: 43px;
    padding-left: 100%;
    white-space: nowrap;
    -webkit-animation: scrolling linear infinite;
    animation: scrolling linear infinite;
}

.scroll_inner .scroll_row .scrolling_box .scr_box span {
    display: inline-block;
    margin: 0 40px 0 0;
    color: #DEDEDE;
    font-size: 16px;
    font-weight: 400;
}

@-webkit-keyframes scrolling {
    0% {
        transform: translate(0);
    }

    99%,
    to {
        transform: translate(-100%);
    }
}

@keyframes scrolling {
    0% {
        transform: translate(0);
    }

    99%,
    to {
        transform: translate(-100%);
    }
}

/* 사이드바 */
.mainlogobox {
    text-align: center;
}

.sidebar-open .sidebar {
    width: 178px !important;
}

.sidebar {
    position: fixed !important;
    padding-top: 24px;
    max-width: 178px !important;
    background-color: rgba(0, 0, 0, 0.76) !important;
    z-index: 22 !important;
    padding-left: 10px;
    padding-right: 10px;
}

/* -------------------- */
.top-banner {
    position: relative;
    width: 100%;
    height: 587px;
    background-image: url("/front/images/mainbanner.webp");
}

.pallette-imgbox,
.logocha-imgbox {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pallette-img {
    opacity: 0;
    animation: bannerCaptain 1s ease forwards;
}

@keyframes bannerCaptain {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.logocha-img {
    animation: bannerCaptain02 5s ease 1 forwards;
    width: 563px;
}

.toplogo img{
    width: 145px;
}

@keyframes bannerCaptain02 {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    5% {
        opacity: 1;
        transform: scale(1.1);
    }

    10% {
        opacity: 1;
        transform: scale(1);
    }

    90% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sidebar-closed:not(.horizontal) .sidebar:not(:hover) {
    width: 55px !important;
    padding-top: 0;
}

.sidebar-closed:not(.horizontal) .sidebar:not(:hover)>ul>li.nav-item a {
    width: 35px !important;
    height: 40px !important;
}

.sidebar-closed:not(.horizontal) .sidebar:not(:hover) .side-mini-p,
.sidebar-closed:not(.horizontal) .sidebar:not(:hover) .toplogo {
    display: none;
}

.sidebar>ul>li.nav-item>a .iconify {
    display: inline-block;
    width: 32px;
    height: 24px;
    margin-top: -6px !important;
    z-index: 3;
    position: relative;
    text-align: center;
    color: #C3C3C3;
}

.side-mini-p {
    font-size: 14px;
    font-weight: 400;
    color: #A0A0A0;
    margin-top: 30px;
}

.side-libor {
    background-color: #000000;
    border-bottom: 1px solid #2e2e2e;
    border-radius: 3px !important;
    margin-top: 5px;
}

.side-libor01 {
    margin-top: 14px !important;
}

.sidebar>ul>li.nav-item>a {
    line-height: 38px !important;
}

.sidebar>ul>li.nav-item>a:hover {
    background-color: #181818 !important;
}

.menu-title {
    font-size: 14px;
    color: #C3C3C3 !important;
}

.attend-libor {
    padding-left: 4px;
    background: linear-gradient(83.57deg, #442789 -1.41%, #0F0F11 116.34%) !important;
    border: none !important;
}

.notice-libor {
    padding-left: 5px;
    background: linear-gradient(84.36deg, #5E194E -1.25%, #010101 131.79%);
    border: none !important;
    margin-top: 5px !important;
}

.attend-libor-a,
.notice-libor-a {
    display: flex !important;
    align-items: center !important;
}

.attend-libor-a img {
    width: 28px;
}

.notice-libor-a img {
    width: 21px;
    margin-right: 4px;
}

.t0-title {
    top: 0px !important;
}

.sidebar>ul>li.nav-item>a.attend-libor-a:hover,
.sidebar>ul>li.nav-item>a.notice-libor-a:hover {
    background-color: initial !important;
}

/* 메인 */
.powerball-max{
    padding-top: 90px;
}
.main_content,
.powerball-max {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -2px;
}

.main_content::before,
.powerball-max::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/front/images/contentbg.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.main_content::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 148px;
    background: url("/front/images/mainshadow.webp");
}

/* 탭메뉴 */
.contentbox-tabbox {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    z-index: 10;
}

.contentbox-tabbox:after {
    content: "";
    position: absolute;
    background: url("/front/images/tab-bg.webp");
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    width: 980px;
    height: 208px;
    z-index: 2;
}

.contentbox-tab-ul {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    justify-content: center;
}

.contentbox-tab-ul li {
    border: none !important;
}

.contentbox-tab-ul li button.active {
    background-color: transparent !important;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75), 0 0 15px rgba(255, 255, 255, 0.5);
}

.tab-gamebut {
    display: flex !important;
    align-items: center;
    min-height: 92px;
}

.tab-gamebut span {
    display: block;
}

.tab-gamebut .icon-img {
    filter: grayscale(100%);
    transition: 0.3s;
}

.tab-gamebut:hover .icon-img {
    filter: grayscale(0);
}

.tab-gamebut.active .icon-img {
    filter: grayscale(0);
}

.tab-gamebut span {
    color: #959595;
    transition: 0.2s;
}

.tab-gamebut .gamename {
    font-size: 24px;
    font-weight: 800;
}

.tab-gamebut:hover .gamename {
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75), 0 0 15px rgba(255, 255, 255, 0.5);
}

.tab-gamebut:hover .gamename02 {
    color: #DA71FF !important;
}

.tab-gamebut .gamename02 {
    font-size: 14px;
    font-family: 'Public Sans', sans-serif !important;
    letter-spacing: 0 !important;
    margin-top: 8px;
}

.tab-gamebut.active .gamename {
    color: #fff !important;
}

.tab-gamebut.active .gamename02 {
    color: #DA71FF !important;
}

.contentbox-tab-ul li:nth-child(2) {
    margin: 0 50px;
}

.icon-img01 {
    margin-top: -8px;
    margin-right: 6px;
}

.icon-img03 {
    margin-top: -2px;
    margin-right: 9px;
}

/* 게임버튼 */
.gamebut-box {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.gamebut-a-par {
    position: relative;
    width: calc(100%/5 - 20px);
    height: 185px;
    padding: 70px 15px 0 15px;
    background: linear-gradient(180deg, rgba(193, 38, 178, 0) 8.59%, #98358E 114.5%);
    transition: 0.2s;
}

.gamebut-a-par:hover {
    background: linear-gradient(180deg, rgba(193, 38, 178, 0) 8.59%, #e244d2 114.5%);
}

.slot-a-par {
    background: linear-gradient(180deg, rgba(38, 184, 193, 0) 8.59%, #359298 114.5%) !important;
}

.slot-a-par:hover {
    background: linear-gradient(180deg, rgba(38, 184, 193, 0) 8.59%, #52cad3 114.5%) !important;
}

.mini-a-par {
    background: linear-gradient(180deg, rgba(38, 184, 193, 0) 8.59%, #356b98 114.5%) !important;
}

.mini-a-par:hover {
    background: linear-gradient(180deg, rgba(38, 184, 193, 0) 8.59%, #55a6e9 114.5%) !important;
}

/* 게임컨텐츠 */
.gamecontentbox {
    padding-top: 100px;
}

.game-kind {
    position: relative;
    z-index: 1;
    font-family: 'Racing Sans One', sans-serif !important;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.47);
}

.gametitle {
    position: relative;
    max-width: 140px;
    word-break: keep-all;
    z-index: 1;
    font-family: 'VitroCore' !important;
    font-size: 22px;
    line-height: 29px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFCAF3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
}

.slot-gametitle {
    position: relative;
    max-width: 140px;
    word-break: keep-all;
    z-index: 1;
    font-family: 'VitroCore' !important;
    font-size: 22px;
    line-height: 29px;
    background: linear-gradient(180deg, #FFFFFF 0%, #83fbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
}

.mini-gametitle {
    position: relative;
    max-width: 140px;
    word-break: keep-all;
    z-index: 1;
    font-family: 'VitroCore' !important;
    font-size: 22px;
    line-height: 29px;
    background: linear-gradient(180deg, #FFFFFF 0%, #9bc3ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 10px;
}

/* 카지노 캐릭터 */
.casino-cha {
    position: absolute;
    right: 8px;
    bottom: -1px;
}

.casino-gamelogo {
    position: absolute;
    right: 12px;
    bottom: 8px;
}

/* ------------------------ */
.alin-table {
    width: 100%;
}

.albox .alin-table {
    table-layout: fixed;
}

.alin-table .alin-table-th01 {
    padding: 5px 0;
}

.alin-table .alin-table-th01 a {
    font-size: 14px;
    font-weight: 400;
    color: #C9C9C9;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.alin-table .alin-table-th02 {
    text-align: right;
    font-size: 0.875rem;
    color: #9f9f9f;
}

.alin-table .alin-table-th01 a:hover {
    color: #fff;
}

/* 입출금 */
.content-alin {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

.moneyflexbox {
    display: flex;
    margin: 0 15px;
}

.moneybox .albox-title {
    /* Rectangle 75 */
    box-sizing: border-box;
    width: calc(635px/2);
    height: 46px;
    line-height: 44px;
    background: rgba(100, 106, 120, 0.36);
    border: 1px solid rgba(177, 198, 255, 0.25);
    border-radius: 15px 0px 0px 0px;
    border-right: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.moneybox-right .albox-title {
    border-radius: 0px 15px 0px 0px;
    border-left: none;
}

.rolling-list-right {
    width: 100%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
}

.rolling-list-right ul {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

.rolling-list-right li {
    height: 50px;
    overflow: hidden;
    color: #fff;
}

.rolling-list-right li:first-of-type {
    border-top: 0;
}

.rolling-list-left {
    width: 100%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
}

.rolling-list-left ul {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

.rolling-list-left li,
.rolling-list-right li {
    height: 45px;
    overflow: hidden;
    color: #fff;
    background: rgba(255, 255, 255, 0.04);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.rolling-list-left li:first-of-type {
    border-top: 0;
}

.money-a-box {
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.money-a-box-name {
    display: flex;
}

.money-a-box-name-user {
    display: flex;
}

.money-a-box-name-user-name {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin-left: 5px;
    width: 120px;
}

.money-a-box-name-user-price {
    font-size: 1rem;
    font-weight: 600;
    color: #64FFAB;
}

.money-a-box-day {
    font-size: 0.875rem;
    color: #CEDB80;
}

.rol01,
.rol02 {
    padding: 0 10px;
}

/* 공지사항, 문의사항 */
.picbox {
    width: 420px;
    height: 234px;
    padding: 20px;
    background: url("/front/images/picbox.webp");
}

.picbox-titleflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #4D4C4D;
    margin-bottom: 14px;
}

.picbox-titleflex a {
    font-size: 14px;
    color: #9f9f9f;
}

.picbox-titleflex a:hover {
    color: #fff !important;
    font-weight: 400 !important;
}

.picbox .albox-title {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px !important;
    background: linear-gradient(177.89deg, #FFFFFF 1.78%, #646393 131.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* 푸터 */
.footer-img-box {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.footer-img-box img {
    height: 26px;
    margin-top: 20px;
}

.footer-copy {
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    color: #3a3a3a;
}

/* 게임버튼 */
.casino-gama-a-span {
    display: none;
}

.gamebut-a-par:hover .casino-gama-a-span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.casino-gama-a-span span {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 176px;
    height: 69px;
    background: url("/front/images/casino-start.webp");
    z-index: 40;
    transition: 0.2;
}

.casino-gama-a-span span:hover {
    background: url("/front/images/casino-start02.webp");
}


.slot-gama-a-span span {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 178px;
    height: 71px;
    background: url("/front/images/slot-start.webp");
    z-index: 40;
    transition: 0.2;
}

.slot-gama-a-span span:hover {
    background: url("/front/images/slot-start02.webp");
}

.mini-gama-a-span span {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 176px;
    height: 69px;
    background: url("/front/images/mini-start.webp");
    z-index: 40;
    transition: 0.2;
}

.mini-gama-a-span span:hover {
    background: url("/front/images/mini-start02.webp");
}

/* 하단 수정 */
.change-foot-flex{
    display: flex;
}
/* -------------------------------------------------------------------------------- */
/* 출석체크 */
.bat-date-box {
    position: relative;
}

.date-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.bat-date {
    width: 160px;
    background-color: #1e1e1e;
    border: 1px solid #818181;
    padding: 5px 8px;
    border-radius: 2px;
    color: #fff;
    transition: border 0.3s linear;
    margin-right: 1px;
}

.bat-date:focus {
    border: 1px solid #DA71FF;
}

.ui-widget-header {
    background-color: #fff !important;
    border: none !important;
}

.ui-datepicker-calendar thead tr th {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #3f4254 !important;
}

.ui-datepicker-calendar tbody tr td a {
    background-color: #fff !important;
    border: none !important;
    text-align: center;
    font-size: 10px !important;
    height: 30px;
    line-height: 24px;
    font-size: 12px !important;
    font-weight: 500;
    border-radius: 3px;
}

.ui-datepicker-calendar tbody tr td a.ui-state-active {
    background-color: #007fff !important;
}

.ui-datepicker-calendar tbody tr td a.ui-state-highlight {
    background-color: #e7e7e7 !important;
}

.examresult-page-calender-thead-tr {
    border: 1px solid #222;
    border-top: 1px solid #DA71FF;
    text-align: center;
    background-color: #222;
}

.examresult-page-calender-thead-tr th {
    padding: 10px 0;
    font-weight: 500;
    color: #b6b6b6;
}

.examresult-page-calender-tbody tr td {
    height: 100px;
    border: 1px solid #222;
    padding: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #b6b6b6;
    position: relative;
    background-color: #131415;
}

.calender-month-p {
    font-size: 1.75rem;
    font-weight: 500;
    color: #ddd;
    margin: 0 20px;
    margin-top: -4px;
}

.calender-month {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attend-imgbox {
    text-align: center;
}

.attend-imgbox img {
    width: 60px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.al-newbage {
    display: inline-block;
    width: 35px;
    height: 15px;
    line-height: 15px;
    border-radius: 50px;
    background: rgb(102, 137, 217);
    background: linear-gradient(180deg, rgba(203,92,255,1) 0%, rgba(95,26,183,1) 100%);
    color: #fff;
    font-size: 0.625rem;
    text-align: center;
    animation: blink-effect 1s step-end infinite;
}

.alin-span {
    vertical-align: middle;
}
.alarm-table-td01:hover .alin-span{
    color: #fff !important;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

/* -----------------------모바일-------------------- */
.mobile-bottommenu{
    width: 100%;
    height: 70px;
    background-color: #141518;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-top: 1px solid #383C45;
    padding-top: 6px;
    z-index: 24;
}
.mobile-bottommenu ul{
    display: flex;
    justify-content: center;
}

.mobile-bottommenu ul li{
    width: 20%;
    text-align: center;
}

.mobile-bottommenu ul li button p{
    color: #fff;
    font-size: 0.7rem;
    margin-top: 5px;
    font-weight: 300;
}
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 21;
    top: 0;
    left: -100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align:center;
}
.hamburger-abox{
    padding: 20px 15px;
    padding-top: 40px;
}
.hamburger-abox button{
    color: #818181;
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    height: 42px;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    font-size: 25px;
    color: #818181;
}
.hamburgerlogo{
    position: absolute;
    top: 15px;
    left: 15px;
}
.hamburger-span{
    font-size: 1.2rem;
    color: #f3f3f3;
}
.hamburger-abox-p{
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    color: #979797;
    margin-bottom: 20px;
}
.mobile-pill-account{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.mobile-pill-account input{
    width: 100%;
    margin-right: 4px;
}
.mobile-pill-account-moneybutbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.mobile-pill-account-moneybutbox button{
    margin-top: 5px;
}

.header-modal-contentbox li:hover{
    border-color: #0d0c0c;
}

/* 파워볼 */
.powerball-max{
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000000;
    min-height: 650px;
    background-position: top;
    padding: 80px 0;
}
.powerball-max:after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1903px;
    height: 479px;
    z-index: -1;
}
.powerballContent{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.powerballContent-left{
  position: relative;
  flex-grow: 1;
  margin-right: 15px;
}
.powerballContent-left-end{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(4, 4, 12, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.powerballContent-left-end p{
  font-size: 2.3rem;
  color: #fff;
  font-weight: 500;
  background-color: #232122;
  border: 1px solid #818181;
  border-radius: 4px;
  padding: 20px 30px;
}

.powerballContent-right{
  width: 480px;
}

.ball-info{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.ball-info-ball{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #131415;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  line-height: 27px;
  margin-right: 7px;
  border: 1px solid #fff;
}

.blueball{
  background-color: #106de1 !important;
}
.greenball{
  background-color: #017001 !important;
}
.yellowball{
  background-color: #ef9f22 !important;
}
.redball{
  background-color: #b11f12 !important;
}
.blackball{
  background-color: #070707 !important;
}
.ball-info-ball02{
  display: inline-block;
  height: 30px;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  line-height: 27px;
  padding: 0 10px;
  background-color: #131415;
  border-radius: 3px;
  margin-left: 7px;
  border: 1px solid #fff;

}

.left-powerballbox{
  background-color: #1F2125;
  border: 2px solid #383C45;
}

.left-powerballbox-ul{
  width: 100%;
  display: flex;
  border-bottom: 2px solid #383c45;
}

.left-powerballbox-ul-div{
  display: flex;
  width: 100%;
}

.left-powerballbox-ul li{
  text-align: center;
  color: #ececec;
  padding: 12px 10px;
  font-size: 1em;
  width: 100%;
}

.left-powerballbox-ul01{
  width: 10%;
  background-color: #141518;
}
.left-powerballbox-ul02{
  width: 40%;
}

.left-powerballbox-ifbox{
  text-align: center;
  padding: 30px 0;
}

.left-powerballbox-time{
  background-color: #141518;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ddd;
}
.left-powerballbox-time-span{
  color: #DA71FF;
}

.powerball-butbox{
  background-color: #1F2125;
  border: 2px solid #383C45;
  margin-top: 10px;
  padding: 5px;
}

.powerball-butbox-p{
  background-color: #141518;
  padding: 10px;
  display: flex;
  align-items: center;
}

.powerball-butbox-p-span{
  font-size: 1rem;
  color: #f3f3f3;
}
.powerball-butbox-littlebox{
  padding-top: 5px;
  display: flex;
  gap: 7px;
}
.powerball-butbox-littlebox button{
  height: 66px;
  color: #fff;
  padding: 3px;
  border-radius: 2px;
}

.powerball-butbox-littlebox button.ball-bluebut{
  background: rgb(55,62,138);
  background: linear-gradient(180deg, rgba(55,62,138,1) 0%, rgba(22,26,66,1) 100%);
}

.powerball-butbox-littlebox button.ball-redbut{
  background: rgb(215,29,86);
  background: linear-gradient(180deg, rgba(215,29,86,1) 0%, rgba(93,5,32,1) 100%);
}

.powerball-butbox-littlebox button.ball-bluebut .ball-numbox{
  background-color: #0d123d;
  padding: 7px 0;
  margin-top: 9px;
  border-radius: 2px;
}

.powerball-butbox-littlebox button.ball-redbut .ball-numbox{
  background-color: #3b0616;
  padding: 7px 0;
  margin-top: 9px;
  border-radius: 2px;
}

/* 일반볼 조합 + 파워볼 */
.powerball-butbox01 .powerball-butbox-littlebox button{
  width: calc(100%/8 - 5px);
}

/* 일반볼 대중소 */
.powerball-butbox02 .powerball-butbox-littlebox button{
  width: calc(100%/9 - 5px);
}
 /* 파워볼 */
 .powerball-butbox03 .powerball-butbox-littlebox button{
  width: calc(100%/8 - 5px);
}
 /* 일반볼 */
 .powerball-butbox04 .powerball-butbox-littlebox button{
  width: calc(100%/8 - 5px);
}

.powerball-moneybutbox{
  padding-top: 5px;
  display: flex;
  gap: 7px;
}

.powerball-moneybutbox button{
  width: calc(100%/7 - 5px);
  border-radius: 4px;
  padding: 10px 15px 12px 15px;
  color: #fff;
  background: rgb(107,102,98);
  background: linear-gradient(180deg, rgba(107,102,98,1) 0%, rgb(92, 92, 92) 100%);
}

.powerball-butinfo{
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.powerball-butinfo > div{
  width: calc(100%/4 - 5px);
  color: #ececec;
  display: flex;
  border: 1px solid #525b70;
  background-color: #404144;
}

.powerball-butinfo01{
  background-color: #141518;
  width: 115px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c68aff;
}

.powerball-butinfo02{
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.powerball-lastbut{
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.powerball-lastbut button{
  width: calc(100%/3 - 5px);
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
  background-color: #1d803ab3;
  background-image: conic-gradient(from 1turn,rgb(110, 110, 110),rgb(43, 44, 43));
}
.powerball-lastbut-buy{
  color: #fff !important;
  background-color: #1d803ab3 !important;
  background-image: conic-gradient(from 1turn,rgb(178, 11, 255) 0%,rgb(56, 0, 119) 100%) !important;
}

.powerballContent-right01{
  border: 2px solid #383C45;
  background-color: #1F2125;
  color: #ececec;
}

.powerball-right-info01{
  width: 100%;
  height: 130px;
  background: url("/front/images/powerboallbg.webp");
  padding: 33px 30px;
  background-size: cover;
  position: relative;
}
.ballarrow{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #131415;
  border: 2px solid #383C45;
  border-radius: 50px;
  box-shadow: 4px 2px 9px rgb(0 0 0 / 82%);
}

.ballarrow-left{
  position: absolute;
  left: -8px;
  top: 150px;
}

.ballarrow-left svg,
.ballarrow-right svg{
  margin-top: -5px;
}


.ballarrow-right{
  position: absolute;
  right: -8px;
  top: 150px;
}

.powerball-right-info01 > p{
  color: #fff;
}

.powerball-right-info01 .powerball-right-info01-p01{
  font-size: 1.75rem;
  font-weight: 500;
}

.powerball-right-info01 .powerball-right-info01-p02{
  font-size: 1rem;
  margin-top: 15px;
}

.powerballContent-right-02box-div01 p{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #131415;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  line-height: 27px;
  margin: 0 7px;
  border: 1px solid #fff;
}

.powerballContent-right-02box{
  display: flex;
}

.powerballContent-right-02box > div{
  width: 100%;
}

.powerballContent-right-02box-01,
.powerballContent-right-02box-02{
  text-align: center;
}

.power-right-con{
  padding: 18px;
}

.powerballContent-right-02box-01{
  border-right: 2px solid #383C45;
}

.powerballContent-right-02box-div01{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.power-bat-monery{
  background-color: #141518;
  padding: 13px 0;
  color: #DA71FF;
}

.power-bat-monery span{
  color: #ececec;
}

.powerball-batlist{
  margin-top: 10px;
  background-color: #1F2125;
  border: 2px solid #383C45;
}

.powerball-batlist-title{
  font-size: 1.25rem;
  font-weight: 500;
  color: #f3f3f3;
}
.powerball-batlist-table{
  table-layout: fixed;
}
.powerball-batlist-table thead tr{
  background-color: #222;
  border-top: 1px solid #383C45;
  border-bottom: 1px solid #383C45;
}

.powerball-batlist-table thead tr th,
.powerball-batlist-table tbody tr td{
  color: #f3f3f3;
  padding: 13px;
  font-weight: 400;
  text-align: center;
  font-size: 0.9rem;
  vertical-align: middle;
  line-height: 1.2rem;
}

.powerball-batlist-table tbody tr{
  background-color: #141518;
  border-bottom: 1px solid #383C45;
}

.powerball-batlist-table-scroll{
  max-height: 350px;
  overflow-y: scroll;
}

.powerball-butbox-littlebox button.current{
    background: linear-gradient(180deg, rgba(203,92,255,1) 0%, rgba(95,26,183,1) 100%);
}

.powerball-butbox-littlebox button.current .ball-numbox{
  background-color: #1d1d1d !important;
}

.powerball-moneybutbox button.current{
    background: linear-gradient(180deg, rgba(203,92,255,1) 0%, rgba(95,26,183,1) 100%);
}
