


* {
    font-family: 'Pretendard', sans-serif !important;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

.bg2 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 0;
}

.w100{
    width: 100%;
}
/* --------------- */

#wrapper{
    width: 100%;
    height: 100%;
    background-color: #160703;
}
#contentbox{
    width: 100%;
    height: 100%;
}


/* 탑메뉴 */
.top{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #160703;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.top > div:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4px;
}

.hamburger {
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

.line {
    height: 2px;
    border-radius: 50px;
    width: 100%;
    background-color: #d7c5c0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(0.375rem) rotate(45deg);
    -webkit-transform: translateY(0.375rem) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
    -webkit-transform: translateY(-0.5rem) rotate(-45deg);
}

.toplogo{
    width: 153px;
    height: 24px;
    background-image: url("/mobile/images/toplogo.png");
}

.shareIcon{
    width: 19px;
    height: 21px;
    background-image: url("/mobile/images/shareIcon.png");
    margin-right: 15px;
}


.radioBarbox {
    display: flex;
    padding-top: 10px;
}

.radioBarbox .bar {
    width: 3px;
    height: 10px;
    background-color: #d7c5c0;
    margin: 2px 1px;
    animation: pulse 0.5s ease-in-out infinite;
    animation-play-state: running;
    transform-origin: bottom;
}

@keyframes pulse {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

.bar:nth-child(2) {
    animation-delay: 0.1s;
}

.bar:nth-child(3) {
    animation-delay: 0.3s;
}

.bar:nth-child(4) {
    animation-delay: 0.5s;
}

.bar:nth-child(5) {
    animation-delay: 0.7s;
}

.radioBarbox.paused .bar {
    animation-play-state: paused;
}

.topRIght{
    display: flex;
    align-items: center;
}


/* 탑컨텐츠 */
.fllMenuContent-div{
    width: calc(100% - 50px);
    height: calc(100% - 51px);
    border-radius: 25px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50.5%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #160703;
    z-index: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fllMenuContent-div.menuon{
    opacity: 1;
    z-index: 1;
}

.golink-ul li{
    /* margin-top: 35px; */
    margin-top: 26px;
}

.golink-ul li:nth-child(1){
    margin-top: 20px;
}

.golink-ul li button{
    width: 280px;
    position: relative;
}

.golink-ul li button span{
    font-size: 1.3125rem;
    color: #d7c5c0;
}

.golink-ul li button.butActive span{
    color: #fff;
    text-shadow: 0 0 5px rgba(235, 155, 41, 0.8),
        0 0 10px rgba(235, 155, 41, 0.8),
        0 0 10px rgba(235, 155, 41, 0.8),
        0 0 10px rgba(235, 155, 41, 0.8);
}

.glowarrow-left{
    position: absolute;
    position: absolute;
    left: -31px;
    top: -3px;
    opacity: 0;
}
.glowarrow-right {
    position: absolute;
    right: -31px;
    top: -3px;
    opacity: 0;
}

.reserlink .glowarrow-left{
    left: 78px;
}
.reserlink .glowarrow-right{
    right: 78px;
}

.eventlink .glowarrow-left{
    left: 87px;
}
.eventlink .glowarrow-right{
    right: 87px;
}

.wordlink .glowarrow-left{
    left: 87px;
}
.wordlink .glowarrow-right{
    right: 87px;
}

.peoplelink .glowarrow-left{
    left: 78px;
}
.peoplelink .glowarrow-right{
    right: 78px;
}

.medialink .glowarrow-left{
    left: 85px;
}
.medialink .glowarrow-right{
    right: 85px;
}



.golink-ul li button.butActive .glowarrow-left,
.golink-ul li button.butActive .glowarrow-right{
    opacity: 1;
}

.fllMenuContent-bottom{
    /* padding-bottom: 10px; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bordermun{
    width: 325px;
    height: 10px;
    background-image: url("/mobile/images/bordermun.png");
}

.hanCommuspan{
    display: inline-block;
    font-weight: 300;
    font-size: 0.9375rem;
    color: #d7c5c0;
    /* margin-top: 10px; */
    margin-top: 18px;
}

.hamSnsbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.yotubebut{
    width: 26px;
    height: 19px;
    background-image: url("/mobile/images/yotubebut.png");
}
.xbut{
    width: 19px;
    height: 18px;
    background-image: url("/mobile/images/xbut.png");
    margin: 0 37px;
}
.naverbut{
    width: 26px;
    height: 21px;
    background-image: url("/mobile/images/naverbut.png");
}

.lounagebut{
    width: 227px;
    height: 96px;
    background-image: url("/mobile/images/lounagebut.png");
    margin-top: 25px;
}

.borermun02{
    width: 315px;
    height: 1px;
    background-image: url("/mobile/images/borermun02.png");
    margin-top: 10px;
}

.copyul{
    margin-top: 11px;
}

.copyul li{
    font-size: 0.625rem;
    color: #856860 !important;
    -webkit-color: #856860 !important;
    font-weight: 300;
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
}
.copyul li:nth-child(2){
    margin-top: 4px;
}
.copyul li:nth-child(3){
    margin-top: 5px;
}

.safa[href^=tel] {
    color: #856860 !important;
    text-decoration: none;
}
/* ---------------------------- */

#fullpage {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    margin: 0 auto;
    background-image: url("/mobile/images/fullpageBg.png");
}

@keyframes flashWhite {
    0%, 100% {
        opacity: 0;
        background-color: transparent;
    }
    50% {
        opacity: 1;
        background-color: white; /* 배경색 변경 */
    }
}

.whiteback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50.5%);
    z-index: 4;
    width: calc(100% - 50px);
    height: calc(100% - 51px);
    background-color: #fff;
    border-radius: 25px !important;
    opacity: 0; /* 투명도 초기 설정 */
    display: none;
    z-index: 20;
    animation: flashWhite 0.7s ease-in-out forwards; /* 애니메이션 적용 */
}

.sectionVideobg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border-radius: 25px !important;
    overflow: hidden;
}

.sectionVideobg.section02Bg{
    border-radius: 0 !important;
}

.sectionVideobg video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.sectionVideobg video::-webkit-media-controls {
    display: none !important;
}

.sectionVideobg video::-moz-media-controls {
    display: none !important;
}

.section01Bg video{
    width: auto !important;
    margin-left: -84%;
}

.section01Bg{
    position: relative;
}

.section01Bg:after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}



.section {
    width: calc(100% - 50px);
    height: calc(100% - 51px);
    border-radius: 25px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50.5%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}

.section.active {
    opacity: 1;
    z-index: 1; 
}

.seDelete{
    opacity: 0 !important;
    z-index: 0 !important;
}



/* section1 */
/* ---------------------------------------------------- */
#section1{
    /* background-image: url("/mobile/images/reserSection01.png"); */
}

.section01Cotent{
    position: absolute;
    bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexLogo{
    width: 262px;
    height: 41px;
    background-image: url("/mobile/images/indexLogo.png");
    margin-right: -20px;
}

.indexVideobut{
    width: 302px;
    height: 68px;
    background-image: url("/mobile/images/indexVideobut.png");
    margin-top: 10px;
}

.indexCbt{
    width: 287px;
    height: 70px;
    background-image: url("/mobile/images/indexCbt.png");
}

.reserindexCbt{
    width: 231px;
    height: 69px;
    background-image: url("/mobile/images/reserindexCbt.png");
    margin-top: 60px;
}

@keyframes next {
    0% {
        -webkit-transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-5px)
    }

    50%,
    to {
        -webkit-transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(5px)
    }
}

.indexScrolldown{
    width: 98px;
    height: 64px;
    background-image: url("/mobile/images/indexScrolldown.png");
    animation: next 2s infinite linear;
    margin-top: 10px;
}

.reser-indexScrolldown{
    width: 99px;
    height: 66px;
    background-image: url("/mobile/images/reser-indexScrolldown.png");
    animation: next 2s infinite linear;
    margin-top: 10px;
}

.appbutBox{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.reserGooglebut{
    width: 134px;
    height: 41px;
    background-image: url("/mobile/images/reserGooglebut.png");
    margin-right: 10px;
}

.reserApplebut{
    width: 134px;
    height: 41px;
    background-image: url("/mobile/images/reserApplebut.png");
}




/* 사전예약 */
/* ---------------------------------------------------- */
.reserNav{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 24px;
    background-color: rgba( 255, 255, 255, 0.75 );
    padding: 0 16px;
    z-index: 11;
}

.reserNav li{
    width: calc(100%/2);
}

.reserNav .nav-link{
    position: relative;
    width: 100%;
    font-size: 0.9375rem;
    padding-left: 0;
    padding-right: 0;
    color: #7bc1b3 !important;
}


.reserNav .nav-link.active{
    color: #2da28b !important;
    font-weight: 600 !important;
    background-color: transparent;
}


.reserNav .nav-link.active:after{
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: -4px;
    width: 13px;
    height: 16px;
    background-image: url("/mobile/images/reser-linkMun.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.reser-apply.active:after{
    left: 17px !important;
}

#pills-reserContent,
#reser-apply,
#reser-present{
    width: 100%;
    height: 100%;
}



.reserTab01{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/reserTab01.jpg");
}

.reserTab01-content,
.reserTab02-content{
    position: relative;
    width: 100%;
    height: 100%;
}

.reserTab02{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/reserTab02.jpg");
}


.reserTab01-titlebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
}

.reserTab01-title{
    width: 216px;
    height: 71px;
    background-image: url("/mobile/images/reserTab01-title.png");
}

.reserTab01-title02{
    font-size: 0.7500rem;
    color: #156078;
    margin-top: 10px;
    font-weight: 500;

}

.reserTab01Card{
    /* position: absolute;
    top: 56.2%;
    left: 45.5%;
    transform: translate(-50.5%,-50%);
    width: 344px;
    height: 436px;
    background-image: url("/mobile/images/reserTab01Card.png"); */

    position: relative;
    width: 100%;
    height: 408px;
    background-image: url("/mobile/images/reserTab01Card.png");
    background-size: 100% 100%;
    margin: 0 auto;
    margin-left: -17px;
    margin-top: 8px;
}

.reserTab02Card{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.5%,-39%);
    width: 308px;
    height: 445px;
    background-image: url("/mobile/images/reserTab02Card02.png"); */

    position: relative;
    width: 94%;
    height: 424px;
    background-image: url("/mobile/images/reserTab02Card02.png");
    background-size: 100% 100%;
    margin: 0 auto;
}

.reserTab02Card .appbutBox{
    margin-top: 0;
    position: absolute;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);
}

.reserTab02Card .appbutBox .reserGooglebut,
.reserTab02Card .appbutBox .reserApplebut{
    width: 115px !important;
    height: 36px !important;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.animated-image {
    position: relative;
    width: 180px;
    animation: pulsate 1s infinite;
    z-index: 2;
}

#showButton{
    position: relative;
}

#showButton:after{
    content: "";
    display: block;
    position: absolute;
    width: 225px;
    height: 97px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/mobile/images/presentgif-arrow.png");
    left: 50%;
    top: 50%;
    transform: translate(-46%,-38%);
}

#backButton{
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 48px;
}

#backButton span{
    font-size:  0.8125rem;
    color: #88a2b9;
    font-weight: 500;
    margin-left: 5px;
}

.hidePresentdiv-content{
    width: 270px;
    height: 205px;
    background-image: url("/mobile/images/hidePresentdiv-content.png");
    margin: 0 auto;
    margin-top: 5px;
}

.presentgifTitle{
    width: 180px;
    height: 17px;
    background-image: url("/mobile/images/presentgifTitle02.png");
    margin: 0 47px 0px auto;
}

.Presentdiv{
    /* position: relative;
    margin-top: 54px;
    background-color: red;
    width: 100%;
    text-align: center; */

    position: relative;
    margin-top: 15px;
    background-color: red;
    width: 100%;
    text-align: center;
}

.showPresentdiv,
.hidePresentdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.hidePresentdiv {
    opacity: 0;
    display: none; /* 처음에는 숨김 */
    padding-top: 6px;
}

.showPresentdiv {
    opacity: 1;
    padding-top: 59px;
    padding-right: 17px;
}

/* 입력창 */




.reserTab02Card-flower{
    position: absolute;
    right: -137px;
    bottom: -8px;
    width: 184px;
    height: 95px;
    background-image: url("/mobile/images/reserTab02Card-flower02.png");
    z-index: 6;
}

.applyContent-left{
    /* width: 267px;
    position: absolute;
    left: 54px;
    bottom: 34px;
    z-index: 10; */

    width: 77%;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-44.5%);
    bottom: 35px;
}

.applyContent-left-Content{
    width: 100%;
    height: 100%;
}

.applyContent-div01{
    width: 100%;
    display: flex;
}


/* 기본 라디오 버튼 숨기기 */
.appradio{
    width: 18px;
}
.appdivboxContent{
    /* display: flex;     */

    width: 100%;
}

.appdivbox:nth-child(1){
    /* margin-right: 22px; */
    float: left;
}

.appdivbox:nth-child(2){
    float: right;
}

.appdivbox{
    display: flex;
    align-items: center;
}

.appdivbox > div:nth-child(2){
    margin-right: 4px;
}

.appdivbox input[type="radio"] {
    display: none;
}

.phoneinput{
    width: 100%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #4a3a28;
    margin-top: 7px;
    padding: 4px 8px;
    font-size: 0.75rem;
    font-weight: 300;
}

.phoneinput::placeholder{
    font-size: 0.9rem;
    color: #aba8a8;
    font-weight: 300;
}

.pillcheckContent{
    margin-top: 10px;
}

.pillcheckContent .morebut{
    width: 64px;
    height: 18px;
    line-height: 20px;
    color: #fff;
    background-color: #8a8a8a;
    font-size: 0.78rem;
    font-weight: 200 !important;
}

.dis-ali{
    display: flex;
    align-items: center;
}

.dis-ali-jus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pillcheckContent label,
.allagreeBox span,
.allagreeBox button{
    font-weight: 300;
    color: #363636;
    font-size: 0.65rem;
    margin-bottom: -3px;
    cursor: pointer;
}

.allplusinput{
    font-size: 0.875rem !important;
}

.allagreeBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pill-sangCheck{
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid rgb(103, 103, 103 , 60%);
}

.pillcheckContent .form-check-input{
    width: 15px;
    height: 15px;
    position: relative;
    background-color: #fbf3dc !important;
    border-radius: 0 !important;
    border: 1px solid #8a8a8a;
    box-shadow: none !important;
    margin-right: 4px;
}

.pillcheckContent .form-check-input:checked[type=checkbox]{
    --bs-form-check-bg-image: none;
    border: 1px solid #8a8a8a;
    box-shadow: none !important;
}

.pillcheckContent .form-check-input:checked[type=checkbox]:after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-47%,-54%);
    width: 10.5px;
    height: 10.87px;
    background-color: #474747;
}

.pillcheckContent .mt10{
    margin-top: 8px;
}

.reserinpuBut{
    /* width: 250px;
    height: 51px;
    background-image: url("/mobile/images/reserinpuBut.png");
    margin-top: 18px; */

    width: 100%;
    height: 51px;
    background-image: url("/mobile/images/reserinpuBut.png");
    margin-top: 10px;
    background-size: contain;
}

.reseryou-plus{
    text-decoration: underline !important;
    text-underline-position: under;
}

/* 모달 */
#reserModal .btn-close,
.mobile-almodal .btn-close{
    background:url("/mobile/images/videoClose.png") !important;
    opacity: 1 !important;
    width: 20px;
    height: 21px;
    padding: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    right: 0px;
    top: -21px;
    z-index: 10;
}

#reserModal .modal-dialog,
.mobile-almodal .modal-dialog{
    justify-content: center !important;
}

#reserModal .modal-header .btn-close,
.mobile-almodal .modal-header .btn-close{
    padding: 0;
    margin: 0;
}

#reserModal .modal-content,
.mobile-almodal .modal-content{
    width: 325px !important;
    /* margin: 0 auto; */
    border: none;
    background-color: transparent;
    align-items: center !important;
    border-radius: 0 !important;
    padding: 0;
}

#reserModal .modal-header,
.mobile-almodal .modal-header{
    padding: 0;
    border: none;
}

#reserModal .modal-body,
.mobile-almodal .modal-body{
    width: 325px !important;
    padding: 0 !important;
}

#reserModal .modal-body img,
.mobile-almodal .modal-body img{
    width: 100%;
}



.reser-completeModalbutton{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-20%);
    width: 149px;
    height: 38px;
    background-image: url("/mobile/images/reser-completeModalbutton.png");
}




/* 이벤트 */
#section1_2{
    background-image: url("/mobile/images/eventSectionBg.png");
}

.eventsectionContent{
    margin-top: -74px;
}

.eventSection-titlebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7px;
}

.eventSection-title{
    width: 259px;
    height: 72px;

    background-image: url("/mobile/images/eventSection-title.png");
}

.eventSection-title02{
    font-size: 0.7500rem;
    color: #c4d0fa;
    margin-top: 10px;
    font-weight: 500;
}

.eventgiftBoxDiv{
    margin-top: 20px;
}

.eventgiftBoxDiv ul{
    display: flex;
    justify-content: right;
}

.eventsectionContent ul li{
    text-align: center;
    margin-top: 6px;
    margin-right: 5px;
}

.eventsectionContent ul li:nth-child(1),
.eventsectionContent ul li:nth-child(2),
.eventsectionContent ul li:nth-child(3){
    margin-top: 0;
}

.eventsectionContent ul li:last-child{
    margin-right: 0;
}


.eventgiftBox{
    position: relative;
    width: 98px;
    height: 159px;
    margin: 0 auto;
}

.eventgiftBox:after{
    content: "";
    display: block;
    position: absolute;
    top: 74.2px;
    left: 48.9px;
    transform: translate(-50%,-50%);
    width: 72.5px;
    height: 72.5px;
}

.event-gift01{
    background-image: url("/mobile/images/event-gift01.png");
}
.event-gift02{
    background-image: url("/mobile/images/event-gift02.png");
}
.event-gift03{
    background-image: url("/mobile/images/event-gift03.png");
}
.event-gift04{
    background-image: url("/mobile/images/event-gift04.png");
}
.event-gift05{
    background-image: url("/mobile/images/event-gift05.png");
}

.event-gift-end:after{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/mobile/images/event-gift-end.png");
}


.eventMing{
    position: absolute;
    left: -26px;
    bottom: -54px;
    width: 273px;
    height: 356px;
    background-image: url("/mobile/images/eventMing.png");
    z-index: -1;
}








/* section2 */
/* ---------------------------------------------------- */
.menuSwiper {
    overflow: visible !important;
    margin-top: -90px;
}

.menuSwiper .swiper-slide{
    width: 170px;
    height: 410px;
}


.menuSwiper .swiper-slide #btnToSection3{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/wordlink.png");
}

.menuSwiper .swiper-slide #btnToSection4{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/peoplelink.png");
}

.menuSwiper .swiper-slide #btnToSection5{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/medialink.png");
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none !important;
}

.menuSwiper-pagination{
    position: relative;
    width: 170px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background: #a3c6d8;
    top: 27px !important;
}


.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    --swiper-theme-color: #dde3e4 !important;
}

.new-class {
    position: absolute;
    top: -11px;
    left: 50%; /* 중앙으로 설정 */
    transform: translateX(-50%); /* 요소의 가로 크기의 절반만큼 왼쪽으로 이동 */
    transition: left 0.2s ease-out;
    width: 26px;
    height: 26px;
    background-image: url("/mobile/images/menuSwiperOn.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}



/* section2 */
/* ---------------------------------------------------- */
.wordSwiper{
    width: 100%;
    height: 100%;
}

.wordSwiper-writer{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/wordSwiper-writer.png");
}

.wordfixIcon{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 52px;
    height: 66px;
    margin-left: -23px;
    animation: next 2s infinite linear;
    background-image: url("/mobile/images/word-scrollDown.png");
    z-index: 3;
}

/* 스토리 */
.word-storyContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-58%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storyMun{
    width: 60px;
    height: 21px;
    background-image: url("/mobile/images/storyMun.png");
}

.storyTitle{
    width: 60px;
    height: 20px;
    margin-top: 4px;
    background-image: url("/mobile/images/storyTitle.png");
}

.storyoverBox{
    width: 200px;
    height: 275px;
    position: relative;
    max-height: 275px;
    margin-top: 15px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-overflow-scrolling: touch; /* iOS Safari */
    will-change: scroll-position;
    transform: translateZ(0);
}

.writeroverBox{
    width: 200px;
    height: 275px;
    position: relative;
    max-height: 275px;
    margin-top: 15px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-overflow-scrolling: touch; /* iOS Safari */
    will-change: scroll-position;
    transform: translateZ(0);
}

.wordTextcontent,
.wordTextcontent02 {
    position: absolute;
    width: 100%;
}


.storyoverBox::-webkit-scrollbar,
.writeroverBox::-webkit-scrollbar {
    display: none;
}

.storyoverBox p,
.writeroverBox p{
    font-size: 0.6rem;
    line-height: 13px;
    color: #25a57f;
    font-weight: 300;
    margin-top: 13px;
}

.writeroverBox p{
    color: #6b5c99;
}

.storyoverBox p:nth-child(1),
.writeroverBox p:nth-child(1){
    margin-top: 0;
}

.storyButton{
    width: 132px;
    height: 40px;
    margin-top: 22px;
    background-image: url("/mobile/images/storyButton.png");
}


/* 작가 */
.writerMun{
    width: 60px;
    height: 21px;
    background-image: url("/mobile/images/writerMun.png");
}

.writerTitle{
    width: 52px;
    height: 19px;
    margin-top: 4px;
    background-image: url("/mobile/images/writerTitle.png");
}

.writeroverBox{
    margin-top: 20px;
}



/* section4 */
/* ---------------------------------------------------- */
.peopleNav{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 24px;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding: 0 16px;
    z-index: 3;
}

.peopleNav li{
    width: calc(100%/3);
}

.peopleNav .nav-link{
    position: relative;
    width: 100%;
    font-size: 0.8125rem;
}

.peopleNav .nav-link.active:after{
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    left: 8px;
    width: 9px;
    height: 11px;
    background-image: url("/mobile/images/people/nav-linkMun.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.peopleNav .wish-button.active:after{
    left: 14px !important;
    background-image: url("/mobile/images/people/nav-linkMun02.png");
}

.peopleNav .story-button.active:after{
    left: 14px !important;
    background-image: url("/mobile/images/people/nav-linkMun03.png");
}

.peopleNav .nav-link.active{
    font-weight: 600 !important;
    background-color: transparent;
}

/* 상황별 글씨 */
.tale-button{
    color: #6374a9 !important;
}
.tale-button.active{
    color: #3c529b !important;
}

.wish-button{
    color: #93879f !important;
}
.wish-button.active{
    color: #693c9b !important;
}

.story-button{
    color: #7bc1b3 !important;
}
.story-button.active{
    color: #2da28b !important;
}

/* --------------- */

#pills-tale{
    width: 100%;
    height: 100%;
}

.peoplesection .tab-content{
    width: 100%;
    height: 100%;
}

.peoplesection .tab-content .tab-pane{
    width: 100%;
    height: 100%;
}

.pills-taleBg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/people/pills-taleBg.jpg");
}
.pills-wishBg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/people/pills-wishBg.jpg");
}
.pills-storyBg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/people/pills-storyBg.jpg");
}




/* -------등장인물 스와이프-------- */
.thumbs-taleContent,
.thumbs-wishContent,
.thumbs-storyContent{
    position: absolute;
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 100px;
    background-color: #fff;
    border: 1.3px solid #6574ad;
    border-radius: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 6px;
    padding-top: 0;
    box-shadow: 2px 5px 6px rgb(0 0 0 / 17%);
}

.thumbs-wishContent{
    border-color: #a97ed8;
}
.thumbs-storyContent{
    border-color: #8ac8bc;
}

.thumbs-taleContent02,
.thumbs-wishContent02,
.thumbs-storyContent02{
    position: relative;
    height: 100%;
    border: 1px solid #6574ad;
    border-top: none;
    padding-top: 7px;
}

.thumbs-wishContent02{
    border-color: #a97ed8;
}
.thumbs-storyContent02{
    border-color: #8ac8bc;
}

.thumbs-taleContent02::before,
.thumbs-wishContent02::before,
.thumbs-storyContent02::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    background-image: url("/mobile/images/people/taleContent02-left.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.thumbs-wishContent02::before{
    background-image: url("/mobile/images/people/wishContent02-left.png");
}
.thumbs-storyContent02::before{
    background-image: url("/mobile/images/people/storyContent02-left.png");
}


.thumbs-taleContent02:after,
.thumbs-wishContent02:after,
.thumbs-storyContent02:after{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;
    background-image: url("/mobile/images/people/taleContent02-right.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.thumbs-wishContent02:after{
    background-image: url("/mobile/images/people/wishContent02-right.png");
}
.thumbs-storyContent02:after{
    background-image: url("/mobile/images/people/storyContent02-right.png");
}


.main-taleContent02:before,
.main-wishContent02:before,
.main-storyContent02:before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-image: url("/mobile/images/people/taleContent02-top-left.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.main-wishContent02:before{
    background-image: url("/mobile/images/people/wishContent02-top-left.png");
}
.main-storyContent02:before{
    background-image: url("/mobile/images/people/storyContent02-top-left.png");
}


.main-taleContent02:after,
.main-wishContent02:after,
.main-storyContent02:after{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-image: url("/mobile/images/people/taleContent02-top-right.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.main-wishContent02:after{
    background-image: url("/mobile/images/people/wishContent02-top-right.png");
}
.main-storyContent02:after{
    background-image: url("/mobile/images/people/storyContent02-top-right.png");
}

.thumbs-tale,
.thumbs-wish,
.thumbs-story{
    width: 80%;
    overflow: hidden;
    height: 74px;
    margin: 0 auto;
    padding: 0 5px;
    padding-top: 5px;
}

.thumbs-tale .swiper-slide,
.thumbs-wish .swiper-slide,
.thumbs-story .swiper-slide{
    height: 50px;
}

.main-tale,
.main-wish,
.main-story{
    width: 88%;
    overflow: hidden;
    margin: 0 auto;
}


.main-taleContent,
.main-wishContent,
.main-storyContent{
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    height: 247px;
    background-color: #fff;
    border: 1.3px solid #6574ad;
    border-radius: 5px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px;
    padding-bottom: 0;
    box-shadow: 2px 0px 24px rgb(0 0 0 / 40%);
    transition: height 0.3s ease-in-out; /* 높이 변화에 대한 부드러운 전환 효과 추가 */
}

.main-wishContent{
    border: 1.3px solid #a97ed8;
}
.main-storyContent{
    border: 1.3px solid #8ac8bc;
}

/* .main-taleContent:before,
.main-wishContent:before,
.main-storyContent:before{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12.5px;
    width: 30px;
    height: 15px;
    background-image: url("/mobile/images/people/main-taleContent-down.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-wishContent:before{
    background-image: url("/mobile/images/people/main-wishContent-down.png");
}
.main-storyContent:before{
    background-image: url("/mobile/images/people/main-storyContent-down.png");
} */



.upPeoplebut{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12.5px;
    width: 30px;
    height: 15px;
    background-image: url("/mobile/images/people/main-taleContent-down.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-wishupbut{
    background-image: url("/mobile/images/people/main-wishContent-down.png");
}

.main-storyupbut{
    background-image: url("/mobile/images/people/main-storyContent-down.png");
}



.main-taleupbut.arrowbgChange{
    background-image: url("/mobile/images/people/main-taleContent-up.png") !important;
}
.main-wishupbut.arrowbgChange{
    background-image: url("/mobile/images/people/main-wishContent-up.png") !important;
}
.main-storyupbut.arrowbgChange{
    background-image: url("/mobile/images/people/main-storyContent-up.png") !important;
}


.main-taleContent:after,
.main-wishContent:after,
.main-storyContent:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: calc(100% - 2px);
    height: 70px;
    background-color: #e5f3ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
}

.main-wishContent:after{
    background-color: #eae7f7 !important;
}
.main-storyContent:after{
    background-color: #e6fef1 !important;
}

.main-taleContent02,
.main-wishContent02,
.main-storyContent02{
    position: relative;
    height: 100%;
    border: 1px solid #6574ad;
    border-bottom: none;
}

.main-wishContent02{
    border-color: #a97ed8;
}
.main-storyContent02{
    border-color: #8ac8bc;
}


.d65{
    width: 100%;
    height: 65px;
}

.upArea{
    padding-top: 7px;
}

.ddmi{
    padding-top: 10px;
    width: 100%;
    transition: height 0.3s ease-in-out; /* 높이 조절에 대한 부드러운 전환 추가 */
    overflow: hidden; /* 내부 요소의 범위를 넘어가는 부분 숨김 */
}

/* 썸네일 */
.sumDiv{
    width: 100%;
    height: 100%;
}

.thumbs-tale .onSum{
    position: relative;
    box-shadow: 0px 0px 4px 1px rgb(93 154 211 / 75%);
    border: 1px solid #3c6e99;
}
.thumbs-wish .onSum{
    position: relative;
    box-shadow: 0px 0px 4px 1px rgb(148 93 211 / 75%);
    border: 1px solid #8c59c7;
}
.thumbs-story .onSum{
    position: relative;
    box-shadow: 0px 0px 4px 1px rgb(61 182 158 / 75%);
    border: 1px solid #4eceb4;
}

.thumbs-tale .onSum:after,
.thumbs-wish .onSum:after,
.thumbs-story .onSum:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 12px;
    background-image: url("/mobile/images/people/thumbs-taleMark.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-wish .onSum:after{
    background-image: url("/mobile/images/people/thumbs-wishMark.png");
}
.thumbs-story .onSum:after{
    background-image: url("/mobile/images/people/thumbs-storyMark.png");
}

.tale-sum01{
    background-image: url("/mobile/images/people/tale-sum01.png");
}
.tale-sum02{
    background-image: url("/mobile/images/people/tale-sum02.png");
}
.tale-sum03{
    background-image: url("/mobile/images/people/tale-sum03.png");
}
.tale-sum04{
    background-image: url("/mobile/images/people/tale-sum04.png");
}
.tale-sum05{
    background-image: url("/mobile/images/people/tale-sum05.png");
}
.tale-sum06{
    background-image: url("/mobile/images/people/tale-sum06.png");
}


.wish-sum01{
    background-image: url("/mobile/images/people/wish-sum01.png");
}
.wish-sum02{
    background-image: url("/mobile/images/people/wish-sum02.png");
}
.wish-sum03{
    background-image: url("/mobile/images/people/wish-sum03.png");
}
.wish-sum04{
    background-image: url("/mobile/images/people/wish-sum04.png");
}
.wish-sum05{
    background-image: url("/mobile/images/people/wish-sum05.png");
}
.wish-sum06{
    background-image: url("/mobile/images/people/wish-sum06.png");
}


.story-sum01{
    background-image: url("/mobile/images/people/story-sum01.png");
}
.story-sum02{
    background-image: url("/mobile/images/people/story-sum02.png");
}
.story-sum03{
    background-image: url("/mobile/images/people/story-sum03.png");
}
.story-sum04{
    background-image: url("/mobile/images/people/story-sum04.png");
}
.story-sum05{
    background-image: url("/mobile/images/people/story-sum05.png");
}
.story-sum06{
    background-image: url("/mobile/images/people/story-sum06.png");
}
.story-sum07{
    background-image: url("/mobile/images/people/story-sum07.png");
}
.story-sum08{
    background-image: url("/mobile/images/people/story-sum08.png");
}
.story-sum09{
    background-image: url("/mobile/images/people/story-sum09.png");
}
.story-sum10{
    background-image: url("/mobile/images/people/story-sum10.png");
}
.story-sum11{
    background-image: url("/mobile/images/people/story-sum11.png");
}
/* --------보이스----------- */
.voicevideobox{
    display: flex;
    margin-top: 6px;
}

.voicebox{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3c529b;
    border-radius: 3px;
    height: 20px;
    margin-right: 15px;
}

.main-wish .voicebox{
    border-color: #693c9b;
}
.main-story .voicebox{
    border-color: #2da28b;
}

.voice-actordiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 2px;
}

.voice-actordiv span{
    font-size: 0.75rem;
    color: #3c529b;
}

.main-wish .voice-actordiv span{
    color: #693c9b;
}
.main-story .voice-actordiv span{
    color: #2da28b;
}

.voicebutbox{
    display: flex;
    height: 104%;
    margin-right: -1px;
}

.voicebox button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
    background-color: #3c529b;
}
.main-wish .voicebox button{
    background-color: #693c9b;
}
.main-story .voicebox button{
    background-color: #2da28b;
}

.voicebutbox button:nth-child(2){
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.voiceIcon{
    width: 10px;
}

.voicebox button:nth-child(1){
    position: relative;
    margin-right: -1px;
}

.voicebox button:nth-child(1):after{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 4px;
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.7);
}


/* 비디오 */
.playIcon{
    width: 9px;
}

.videobox{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3c529b;
    border-radius: 3px;
    height: 20px;
}
.main-wish .videobox{
    border: 1px solid #693c9b;
}
.main-story .videobox{
    border: 1px solid #2da28b;
}

.videobutbox{
    display: flex;
    height: 104%;
    margin-right: -1px;
}

.video-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2px;
}

.video-div span{
    font-size: 0.75rem;
    color: #3c529b;
}
.main-wish .video-div span{
    color: #693c9b;
}
.main-story .video-div span{
    color: #2da28b;
}

.videobutbox button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 100%;
    background-color: #3c529b;
    padding-left: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.main-wish .videobutbox button{
    background-color: #693c9b;
}

.main-story .videobutbox button{
    background-color: #2da28b;
}


/* 프로필 */
.profile-title-tale{
    width: 50px;
    height: 12px;
    background-image: url("/mobile/images/people/profile-title-tale.png");
}

.main-wish .profile-title-tale{
    background-image: url("/mobile/images/people/profile-title-wish.png");
}
.main-story .profile-title-tale{
    background-image: url("/mobile/images/people/profile-title-story.png");
}

.profilebar{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #2d567b;
    margin: 0 8px;
}
.main-wish .profilebar{
    background-color: #674f82;
}
.main-story .profilebar{
    background-color: #6c9f95;
}


.profileUl-flex{
    margin-top: 8px;
    display: flex;
    padding-left: 13px;
}

.profileUl:nth-child(1){
    width: 53%;
}

.profileUl:nth-child(2){
    width: 46%;
}

.profileUl li{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.profileUl li:nth-child(1){
    margin-top: 0;
}

.profileUl li span{
    color: #2d567b;
    font-size: 0.70rem;
}

.main-wish .profileUl li span{
    color: #674f82;
}
.main-story .profileUl li span{
    color: #6c9f95;
}

.profileUl li span:nth-child(1){
    position: relative;
    font-weight: 600;
}

.profileUl li span:nth-child(1)::before{
    content: "·";
    position: absolute;
    top: -4px;
    left: -8px;
    font-size: 18px;
    color: #2d567b;
}
.main-wish .profileUl li span:nth-child(1)::before{
    color: #674f82;
}
.main-story .profileUl li span:nth-child(1)::before{
    color: #6c9f95;
}


/* 스토리 */
.storyBoxContent{
    margin-top: 20px;
}
.story-title-tale{
    width: 50px;
    height: 12px;
    background-image: url("/mobile/images/people/story-title-tale.png");
}

.main-wish .story-title-tale{
    background-image: url("/mobile/images/people/story-title-wish.png");
}
.main-story .story-title-tale{
    background-image: url("/mobile/images/people/story-title-story.png");
}

.charastory-textarea{
    position: relative;
    width: 99%;
    height: auto;
    max-height: 50px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 8px;
    padding-left: 13px;
}

.charastory-textarea p{
    font-size: 0.7rem;
    line-height: 16px;
    color: #2d567b;
}
.main-wish .charastory-textarea p{
    color: #674f82;
}
.main-story .charastory-textarea p{
    color: #6c9f95;
}

.charastory-textarea p{
    margin-top: 9px;
}
.charastory-textarea p:nth-child(1){
    margin-top: 0;
}

.faded-text {
    position: relative;
}

/* .charastory-textarea:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
} */

/* ----------------------------------- */
.charastory-textarea::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 50px !important;
}

.charastory-textarea::-webkit-scrollbar {
    width: 3px;
    height: 0
}

.charastory-textarea::-webkit-scrollbar-button {
    background-color: transparent;
    width: 0;
    height: 0
}

.charastory-textarea::-webkit-scrollbar-corner {
}


.charastory-textarea.storyword-textarea::-webkit-scrollbar-thumb{
    background-color: #a9cced;
    border-radius: 50px;
}

.main-wish .charastory-textarea.storyword-textarea::-webkit-scrollbar-thumb{
    background-color: #c9a9ed;
}

.main-story .charastory-textarea.storyword-textarea::-webkit-scrollbar-thumb{
    background-color: #9bd5c9;
}

.charastory-textarea::-webkit-scrollbar-track-piece {
    border-radius: 50px !important;
}


/* ------------------ */
/* 캐릭터 변경 */

.tale-characterbg img,
.wish-characterbg img,  
.story-characterbg img{
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 1; /* 초기 투명도 설정 */
}

/* 테일즈런너 */
.tale-characterbg.tale-01 img{
    left: 50%;
    transform: translateX(-50%);
    height: 351px;
}
.tale-characterbg.tale-02 img{
    left: 50%;
    transform: translateX(-50%);
    height: 351px;
}
.tale-characterbg.tale-03 img{
    left: 50%;
    transform: translateX(-50%);
    height: 369px;
}
.tale-characterbg.tale-04 img{
    left: 50%;
    transform: translateX(-50%);
    height: 402px;
}
.tale-characterbg.tale-05 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 366px;
}
.tale-characterbg.tale-06 img{
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 434px;
}

.tale-name-chowon{
    width: 100px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-chowon.png");
}

.tale-name-mingming{
    width: 98px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-mingming.png");
}

.tale-name-lala{
    width: 99px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-lala.png");
}

.tale-name-elice{
    width: 182px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-elice.png");
}

.tale-name-bigbo{
    width: 96px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-bigbo.png");
}

.tale-name-haru{
    width: 99px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-haru.png");
}


/* 소원의돌 */
.wish-characterbg.tale-01 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 332px;
}
.wish-characterbg.tale-02 img{
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 351px;
}
.wish-characterbg.tale-03 img{
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    height: 351px;
}
.wish-characterbg.tale-04 img{
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 386px;
}
.wish-characterbg.tale-05 img{
    top: -49px;
    left: 46%;
    transform: translateX(-50%);
    height: 430px;
}
.wish-characterbg.tale-06 img{
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    height: 367px;
}


.tale-name-helia{
    width: 110px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-helia.png");
}

.tale-name-elien{
    width: 98px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-elien.png");
}

.tale-name-florance{
    width: 134px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-florance.png");
}

.tale-name-sesila{
    width: 134px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-sesila.png");
}

.tale-name-lusian{
    width: 112px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-lusian.png");
}

.tale-name-innistasha{
    width: 155px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-innistasha.png");
}



/* 동화나라 */
.story-characterbg.tale-01 img{
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    height: 385px;
}
.story-characterbg.tale-02 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 344px;
}
.story-characterbg.tale-03 img{
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    height: 435px;
}
.story-characterbg.tale-04 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 332px;
}
.story-characterbg.tale-05 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 392px;
}
.story-characterbg.tale-06 img{
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    height: 325px;
}
.story-characterbg.tale-07 img{
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    height: 394px;
}
.story-characterbg.tale-08 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 332px;
}
.story-characterbg.tale-09 img{
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 332px;
}
.story-characterbg.tale-010 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 362px;
}

.story-characterbg.tale-011 img{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 344px;
}


.tale-name-stelice{
    width: 111px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-stelice.png");
}
.tale-name-gretel{
    width: 112px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-gretel.png");
}
.tale-name-chaser{
    width: 99px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-chaser.png");
}
.tale-name-flare{
    width: 110px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-flare.png");
}
.tale-name-rose{
    width: 185px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-rose.png");
}
.tale-name-melphi{
    width: 98px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-melphi.png");
}
.tale-name-jepheto{
    width: 112px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-jepheto.png");
}
.tale-name-shasha{
    width: 101px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-shasha.png");
}
.tale-name-aero{
    width: 111px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-aero.png");
}
.tale-name-kismet{
    width: 111px;
    height: 21px;
    background-image: url("/mobile/images/people/tale-name-kismet.png");
}




/* -------화살표--------- */
.thumbs-tale-prev,
.thumbs-tale-next,
.thumbs-wish-prev,
.thumbs-wish-next,
.thumbs-story-prev,
.thumbs-story-next{
    width: 20px !important;
    height: 20px !important;
}

.thumbs-tale-prev:after,
.thumbs-tale-next:after,
.thumbs-wish-prev:after,
.thumbs-wish-next:after,
.thumbs-story-prev:after,
.thumbs-story-next:after{
    width: 20px !important;
    height: 20px !important;
    content: '' !important;
}

.thumbs-tale-prev,
.thumbs-wish-prev,
.thumbs-story-prev{
    top: unset;
    bottom: 44px;
    left: 8px;
    right: unset;
}

.thumbs-tale-next,
.thumbs-wish-next,
.thumbs-story-next{
    top: unset;
    left: unset;
    bottom: 44px;
    right: 8px;
}

.thumbs-tale-prev:after{
    background-image: url("/mobile/images/people/thumbs-tale-prev.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.thumbs-tale-next:after{
    background-image: url("/mobile/images/people/thumbs-tale-next.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-wish-prev:after{
    background-image: url("/mobile/images/people/thumbs-wish-prev.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.thumbs-wish-next:after{
    background-image: url("/mobile/images/people/thumbs-wish-next.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-story-prev:after{
    background-image: url("/mobile/images/people/thumbs-story-prev.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.thumbs-story-next:after{
    background-image: url("/mobile/images/people/thumbs-story-next.png");
    background-size: cover;
    background-repeat: no-repeat;
}







/* section5 */
/* ---------------------------------------------------- */
.mediaContent{
    width: 90%;
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediaSwiper{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.mediamun{
    width: 58px;
    height: 20px;
    background-image: url("/mobile/images/mediamun.png");
}

.mediaTitle{
    width: 58px;
    height: 20px;
    background-image: url("/mobile/images/mediaTitle.png");
    margin-top: 5px;
}

.mediaVideo-playbut{
    width: 60px;
    height: 54px;
    background-image: url("/mobile/images/mediaVideo-playbut.png");
}

/* 버튼 이미지 변경 */
.media01swiperArrow:after {
    width: 30px !important;
    height: 30px !important;
    content: '' !important;
}

.mediaVideoswiper,
.mediaVideoswiper02 {
    height: 230px;
}
.mediaVideoswiper-prev,
.mediaVideoswiper02-prev{
    width: 30px;
    height: 30px;
    left: 0 !important;
    top: unset !important;
    bottom: 0px !important;
}
.mediaVideoswiper-next,
.mediaVideoswiper02-next{
    width: 30px;
    height: 30px;
    right: 0 !important;
    top: unset !important;
    bottom: 0px !important;
}

.mediaVideoswiper-prev:after,
.mediaVideoswiper02-prev:after{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/mediaVideoswiper-prev.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}

.mediaVideoswiper-next:after,
.mediaVideoswiper02-next:after{
    width: 100%;
    height: 100%;
    background-image: url("/mobile/images/mediaVideoswiper-next.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}



/* 페이징 모습 변경 */
.mediaVideoswiper-paging{
    display: flex;
    justify-content: center;
    align-items: center;
    top: unset !important;
    bottom: 5px !important;
}
.mediaVideoswiper-paging .swiper-pagination-bullet{
    background: revert;
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
    background-image: url("/mobile/images/media-paginIcon.png");
    background-size: cover;
    background-position: center 0;
}

.mediaSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 20px !important;
    height: 20px !important;
    opacity: 1 !important;
    background-image: url("/mobile/images/media-paginIconOn.png");
    background-size: cover;
    background-position: center 0;
}

.mediaSwiper .swiper-button-prev.swiper-button-disabled,
.mediaSwiper .swiper-button-next.swiper-button-disabled{
    opacity: 1 !important;
}

.media01-videobox{
    width: 100% !important;
    height: 188px !important;
    background-image: url("/mobile/images/mobile-media01swiper-bg.png");
    padding: 4px;
    background-size: 100% 100%;
    background-position: center;
}

.mediafixIcon{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 57px;
    height: 66px;
    margin-left: -23px;
    animation: next 2s infinite linear;
    background-image: url("/mobile/images/mediafixIcon-down.png");
    z-index: 3;
}


/*비디오 모달------------- */
.videoModal .btn-close{
    background:url("/mobile/images/videoClose.png") !important;
    opacity: 1 !important;
    width: 20px;
    height: 21px;
    padding: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    right: 15px;
    top: -9px;
    z-index: 10;
}
.videoModal .modal-backdrop{
    width: 100%;
    height: 100%;
    --bs-backdrop-opacity: 0.7;
}
/* ì¸íŠ¸ë¡œ ì˜ìƒ ëª¨ë‹¬ */
.videoModal .modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.videoModal .modal-content{
    /* background-color: transparent !important; */
    border: none;
    padding: 0;
    background-color: transparent;
}


/* 이미지 모달------ */
.imgdownModal .btn-close{
    background:url("/mobile/images/videoClose.png") !important;
    opacity: 1 !important;
    width: 20px;
    height: 21px;
    padding: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}

.imgdownModal .modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.imgdownModal .modal-content{
    border: none !important;
    background-color: #160704 !important;
    border-radius: 0 !important;
    height: 100%;
}

.imgdownModal .modal-dialog{
    margin: 0 auto !important;
}

.imgdownModal .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.imgdownModal-imgbox{
    position: relative;
}

.imgSharebutton{
    position: absolute;
    right: 56px;
    bottom: -40px;
    width: 28px;
    height: 28px;
    background-image: url("/mobile/images/imgSharebutton.png");   
}
.imgDownbutton{
    position: absolute;
    right: 15px;
    bottom: -40px;
    width: 28px;
    height: 28px;
    background-image: url("/mobile/images/imgDownbutton.png");   
}

#intro-videoModal .frameborder{
    width: 340px !important;
    height: 195px !important;
    background-image: url("/mobile/images/frameborder.png");
    padding: 5px;
    background-size: cover;
}


/* ------------------------------ */
@media (min-width: 500px) {
    #wrapper{
        display: flex;
        align-items: center;
    }
    #contentbox{
        width: 375px;
        height: 675px;
        margin: 0 auto;
    }
}